<%@ Control Language="VB" AutoEventWireup="false" CodeFile="MSSAdv2SubQuesPopMandatory.ascx.vb" Inherits="iFFMA_FieldForceActy_MSSAdv2SubQuesPopMandatory" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                                                        
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="SUB_QUES_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="25%" Wrap="False" />
                        <RowStyle VerticalAlign="Middle" HorizontalAlign="Left" />
                        <Fields>
                            <asp:TemplateField HeaderText="Sub Question Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSubQuesCode" runat="server" Text='<%# Bind("SUB_QUES_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSubQuesCode" runat="server" Text='<%# Bind("SUB_QUES_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlSubQuesCode" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err" id="lblSubQuesCodeRequired" runat="server">*</span>
                                    <asp:RequiredFieldValidator ID="rfvSubQuesCode" runat="server" ControlToValidate="ddlSubQuesCode"
                                    ErrorMessage="Sub Question Code is Required." ValidationGroup="SaveSubQues" Display="Dynamic" CssClass="cls_validator" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Sub Question Name">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:textbox ID="txtSubQuesName" runat="server" Text='<%# Bind("SUB_QUES_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvSubQuesName" runat="server" ControlToValidate="txtSubQuesName"
                                    ErrorMessage="Sub Question Name is Required." ValidationGroup="SaveSubQues" Display="Dynamic" CssClass="cls_validator" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSubQuesName" runat="server" Text='<%# Bind("SUB_QUES_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:textbox ID="txtSubQuesName" runat="server" Text='<%# Bind("SUB_QUES_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvSubQuesName" runat="server" ControlToValidate="txtSubQuesName"
                                    ErrorMessage="Sub Question Name is Required." ValidationGroup="SaveSubQues" Display="Dynamic" CssClass="cls_validator" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Answer Type">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlAnsType" runat="server" CssClass="cls_dropdownlist"  />
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvAnsType" runat="server" ControlToValidate="ddlAnsType"
                                     ErrorMessage="Answer Type is Required." ValidationGroup="SaveSubQues" Display="Dynamic" CssClass="cls_validator" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblAnsType" runat="server" Text='<%# Bind("ANS_TYPE_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                     <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                     <asp:DropDownList ID="ddlAnsType" runat="server" CssClass="cls_dropdownlist" />
                                     <span class="cls_label_err" >*</span>
                                     <asp:RequiredFieldValidator ID="rfvAnsType" runat="server" ControlToValidate="ddlAnsType"
                                      ErrorMessage="Answer Type is Required." ValidationGroup="SaveSubQues" Display="Dynamic" CssClass="cls_validator" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Mandatory">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:CheckBox ID="chkMandatory" runat="server" cssclass="cls_checkbox" Checked='<%# Bind("MANDATORY") %>' />                                                                       
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:CheckBox ID="chkMandatory" runat="server" cssclass="cls_checkbox" Checked='<%# Bind("MANDATORY") %>' Enabled="false" />   
                                </ItemTemplate>
                                <InsertItemTemplate>
                                     <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                     <asp:CheckBox ID="chkMandatory" runat="server" cssclass="cls_checkbox" Checked="false" />    
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SaveSubQues" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <asp:Button ID="btnPreview" runat="server" CssClass="cls_button" Text="Preview" />
                           <%-- <asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdTitleCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdQuesCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdSubQuesCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
        
    </ContentTemplate>
</asp:UpdatePanel>