﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CollectorCustMappingPop.ascx.vb" Inherits="iFFMA_AR_CollectorCustMappingPop" %>

<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_CustSearch" Src="../Common/wuc_CustSearch.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />

                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="COLLECTOR_SAP_CODE"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>


                            <asp:TemplateField HeaderText="Collector SAP Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorSAPCode" runat="server" Text='<%# Bind("COLLECTOR_SAP_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorSAPCode" runat="server" Text='<%# Bind("COLLECTOR_SAP_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlCollectorSAPCode" runat="server" CssClass="cls_dropdownlist" Width="150px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCollectorSAPCode" runat="server" ControlToValidate="ddlCollectorSAPCode"
                                        ErrorMessage="Collector SAP Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Customer">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCustCode" runat="server" CssClass="cls_textbox" Width="150px" Enabled="false" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCustCode" runat="server" ControlToValidate="txtCustCode"
                                        ErrorMessage="Customer Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                    <asp:Button ID="btnSearchCust" runat="server" CssClass="cls_button" Text="Search" Visible="true" OnClick="btnSearchCust_Click" />
                                </InsertItemTemplate>
                            </asp:TemplateField>

                        </Fields>
                    </asp:DetailsView>

                    <span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdCollectorSAPCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdCustCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />
        <span style="float: left;">
            <customToolkit:wuc_CustSearch ID="wuc_CustSearch" Title="Customer Search" runat="server" />
        </span>
    </ContentTemplate>
</asp:UpdatePanel>
