﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CollectorProfilePop.ascx.vb" Inherits="iFFMA_AR_CollectorProfilePop" %>


<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />

                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="COUNTRY_CODE"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>

                            <asp:TemplateField HeaderText="Country Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCountryCode" runat="server" Text='<%# Bind("COUNTRY_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCountryCode" runat="server" Text='<%# Bind("COUNTRY_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlCountryCode" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCountryCode" runat="server" ControlToValidate="ddlCountryCode"
                                        ErrorMessage="Country Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Collector Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorCode" runat="server" Text='<%# Bind("COLLECTOR_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorCode" runat="server" Text='<%# Bind("COLLECTOR_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorCode" runat="server" Text="[Auto Generate]" Font-Italic="true" CssClass="cls_label"></asp:Label>

                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Collector Name">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCollectorName" runat="server" Text='<%# Bind("COLLECTOR_NAME")%>' CssClass="cls_textbox" MaxLength="250" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCollectorName" runat="server" ControlToValidate="txtCollectorName"
                                        ErrorMessage="Collector Name is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorName" runat="server" Text='<%# Bind("COLLECTOR_NAME")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCollectorName" runat="server" Text='<%# Bind("COLLECTOR_NAME")%>' CssClass="cls_textbox" MaxLength="250" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCollectorName" runat="server" ControlToValidate="txtCollectorName"
                                        ErrorMessage="Collector Name is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Collector SAP Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCollectorSAPCode" runat="server" Text='<%# Bind("COLLECTOR_SAP_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCollectorSAPCode" runat="server" ControlToValidate="txtCollectorSAPCode"
                                        ErrorMessage="Collector SAP Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCollectorSAPCode" runat="server" Text='<%# Bind("COLLECTOR_SAP_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCollectorSAPCode" runat="server" Text='<%# Bind("COLLECTOR_SAP_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCollectorSAPCode" runat="server" ControlToValidate="txtCollectorSAPCode"
                                        ErrorMessage="Collector SAP Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Business Unit">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlBUCode" runat="server" CssClass="cls_dropdownlist" AutoPostBack="true" OnSelectedIndexChanged="ddlBU_SelectedIndexChanged"/>
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBUCode" runat="server" ControlToValidate="ddlBUCode"
                                        ErrorMessage="Business Unit is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblBUCode" runat="server" Text='<%# Bind("BU_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlBUCode" runat="server" CssClass="cls_dropdownlist" AutoPostBack="true" OnSelectedIndexChanged="ddlBU_SelectedIndexChanged"/>
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBUCode" runat="server" ControlToValidate="ddlBUCode"
                                        ErrorMessage="Business Unit is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Company Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID ="ddlCompCode" runat="server" CssClass="cls_dropdownlist" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCompCode" runat="server" Text='<%# Bind("COMP_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlCompCode" runat="server" CssClass ="cls_dropdownlist" width="125px" />
                                </InsertItemTemplate>
                            </asp:TemplateField>

                    

                        </Fields>
                    </asp:DetailsView>

                    <span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdCountryCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdCollectorCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>
