﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="CompBUPop.ascx.vb" Inherits="iFFMA_AR_CompBUPop" %>

<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />

                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="COMP_CODE"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Company Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCompCode" runat="server" Text='<%# Bind("COMP_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblCompCode" runat="server" Text='<%# Bind("COMP_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCompCode" runat="server" Text='<%# Bind("COMP_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCompCode" runat="server" ControlToValidate="txtCompCode"
                                        ErrorMessage="Company Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>


                            <asp:TemplateField HeaderText="Business Unit">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblBUCode" runat="server" Text='<%# Bind("BU_CODE")%>' CssClass="cls_label" />
                                    <%--<asp:DropDownList ID="ddlBUCode" runat="server" CssClass="cls_label" />--%>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblBUCode" runat="server" Text='<%# Bind("BU_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlBUCode" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBUCode" runat="server" ControlToValidate="ddlBUCode"
                                        ErrorMessage="Business Unit is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText ="Credit Control Area">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCreConArea" runat="server" Text='<%# Bind("CREDIT_CONTROL_AREA")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCreConArea" runat="server" ControlToValidate="txtCreConArea"
                                        ErrorMessage="Credit Control Area is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="txtCreConArea" runat="server" Text='<%# Bind("CREDIT_CONTROL_AREA")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCreConArea" runat="server" Text='<%# Bind("CREDIT_CONTROL_AREA")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvCreConArea" runat="server" ControlToValidate="txtCreConArea"
                                        ErrorMessage="Credit Control Area is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Business Area (Bank)">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankBACode" runat="server" Text='<%# Bind("BANK_BA_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBankBACode" runat="server" ControlToValidate="txtBankBACode"
                                        ErrorMessage="Business Area (Bank) is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="txtBankBACode" runat="server" Text='<%# Bind("BANK_BA_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankBACode" runat="server" Text='<%# Bind("BANK_BA_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBankBACode" runat="server" ControlToValidate="txtBankBACode"
                                        ErrorMessage="Business Area (Bank) is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Profit Center (Bank)">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankPCCode" runat="server" Text='<%# Bind("BANK_PC_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBankPCCode" runat="server" ControlToValidate="txtBankPCCode"
                                        ErrorMessage="Profit Center (Bank) is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblBankPCCode" runat="server" Text='<%# Bind("BANK_PC_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankPCCode" runat="server" Text='<%# Bind("BANK_PC_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvBankPCCode" runat="server" ControlToValidate="txtBankPCCode"
                                        ErrorMessage="Profit Center (Bank) is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Business Place">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankBizPlaceCode" runat="server" Text='<%# Bind("BANK_BIZPLACE_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblBankBizPlaceCode" runat="server" Text='<%# Bind("BANK_BIZPLACE_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBankBizPlaceCode" runat="server" Text='<%# Bind("BANK_BIZPLACE_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Business Area (AR)">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtARBACode" runat="server" Text='<%# Bind("AR_BA_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvARBACode" runat="server" ControlToValidate="txtARBACode"
                                        ErrorMessage="Business Area (AR)is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblARBACode" runat="server" Text='<%# Bind("AR_BA_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtARBACode" runat="server" Text='<%# Bind("AR_BA_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvARBACode" runat="server" ControlToValidate="txtARBACode"
                                        ErrorMessage="Business Area (AR) is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Cost Center (AR)">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtARCCCode" runat="server" Text='<%# Bind("AR_CC_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblARCCCode" runat="server" Text='<%# Bind("AR_CC_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtARCCCode" runat="server" Text='<%# Bind("AR_CC_CODE")%>' CssClass="cls_textbox" MaxLength="10" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdCompCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdBUCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>
