<%@ Page Language="vb" AutoEventWireup="false" Inherits="Echoplus._default" CodeFile="default.aspx.vb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Field Force Management System - Echoplus</title>
    <script language="javascript" type="text/javascript">		
        function closeWin(e){	
			e = window.event;	
			//if (confirm("You are attempting force exit. Please remind that your session User will remain. Use logout to log out properly.\nClick Cancel to cancel the exit action.")){ 					
			   	if (self.parent.opener && !self.parent.opener.closed){	
			        self.parent.opener.location='login.aspx';
			        //self.parent.window.opener.moveTo(-5,-5);
			        self.parent.opener.focus();
			        return true;   
			    }	
		}

function MaximimzeWindow() {
    window.focus;
    
    if (document.all && (window.screenTop!=0 && window.screenLeft!=0) || window.screenTop!=0 )
    {
        if (window.moveTo) window.moveTo(-5,-5);
	    if (window.outerWidth) 
	    {
	        window.outerWidth = screen.availWidth+10;
	        window.outerHeight = screen.availHeight+10;
	    }
	    else if (window.resizeTo) 
	    {
	       window.resizeTo(screen.availWidth+10,screen.availHeight+10);
	    }
	}

//    if (document.all && (window.screenTop!=0 && window.screenLeft!=0) || window.screenTop!=0)
//    {
//        if (window.moveTo) window.moveTo(-5,-5);
//	    if (window.outerWidth) 
//	    {
//	        window.outerWidth = screen.availWidth+10;
//	        window.outerHeight = screen.availHeight+10;
//	    }
//	    else if (window.resizeTo) 
//	    {
//	       window.resizeTo(screen.availWidth+10,screen.availHeight+10);
//	    }
//	}
}
            function Shrinkframe()
            {
            var height = screen.height;
            if(height<700){
            var fraDefault = document.getElementById('fraDefault');
            fraDefault.rows="65,*"
            }
            }

    </script>
    <script id="KillError" language="javascript" type="text/javascript">

function killErrors() { 
return true; 
} 
window.onerror = killErrors; 

</script>
</head>
<frameset id="fraDefault" rows="132,*" cols="*" frameborder="NO" border="0" framespacing="0" onresize="Shrinkframe();" onload="javascript:MaximimzeWindow();Shrinkframe();"  onbeforeunload="closeWin();">
	    <frame name="fraTop" scrolling="NO" noresize src="include/menu/sothink/top.aspx">
	    <frameset id="fraDefaultMain" cols="*" frameborder="NO" border="0" framespacing="0">			
	       <!--<frame name="fraLeft" src="treemenu.aspx">-->
		    <frame name="fraMain" src="index.aspx">
	    </frameset>
	    <noframes>
		    <p id="p1">
			    This HTML frameset displays multiple Web pages. To view this frameset, use a 
			    Web browser that supports HTML 4.0 and later.
		    </p>
	    </noframes>
	</frameset>
<% 'List function called by in-line scripts%>
</html>
