<%@ Page Language="VB" AutoEventWireup="false" CodeFile="login2.aspx.vb" Inherits="login2" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Echoplus Monitor</title>
    <link rel="stylesheet" href='include/DKSH.css' />
        <script language="javascript" type="text/javascript">
<!--
    var childWin;
    childWin = window.open('default.aspx','','location=0,menubar=0,scrollbars=yes,resizable=yes,status=1,left=0,top=0,maximize=1');

    if (childWin!=null) 
    {
        setTimeout(" window.open('','_parent');window.opener='_parent';window.close();",1500);
        top.blur();
    }
    else
    {
        top.focus();
    }
-->
        </script>
</head>
<body>
    <form id="form1" runat="server">
        <br />
        <br />
        <span style="color: #ff0000">Important :</span> <b>Kindly enable your pop-up windows
            function if the report page does not display.</b>
            
            <br /><br />

        <b>Click <a href="default.aspx">here</a> to proceed.</b>
    </form>
</body>
</html>
