<%@ Page Language="VB" AutoEventWireup="false" CodeFile="redirect.aspx.vb" Inherits="redirect" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Echoplus Redirect</title>
</head>
<body>
    <form id="form1" runat="server">
<%
    Dim strScript As String = ""
    strScript = "self.parent.parent.location='login.aspx?ErrMsg=Session Time Out, Please login again !!!';"
    Page.ClientScript.RegisterStartupScript(Me.GetType, "PopupScript", "<script language=javascript>" & strScript & "</script>")
%>
    </form>
</body>
</html>
