<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TRAOrderListV2.aspx.vb" Inherits="iFFMS_Order_TRAOrderList" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Untitled Page</title>
    <link rel="stylesheet" href='~/include/DKSH.css' />
</head>
<script language="javascript" type="text/javascript">	
    var minCols ="0,1,*";//"22,*"
	var maxCols ="";
	function min()
	{	
		if(maxCols=="") { maxCols=document.getElementById("fraDefaultMain").cols; }
		document.getElementById("fraDefaultMain").cols = minCols;
	}
	
	function max()
	{
		if(maxCols=="") { maxCols=document.getElementById("fraDefaultMain").cols; }
		document.getElementById("fraDefaultMain").cols = maxCols;
	}
	
	function CollapseExpand()
	{	
		if(maxCols=="") { maxCols=document.getElementById("fraDefaultMain").cols; }
		if(document.getElementById("fraDefaultMain").cols!=minCols)
		{
			document.getElementById("fraDefaultMain").cols = minCols;
		}
		else
			document.getElementById("fraDefaultMain").cols = maxCols;
	}
	function CollapseMain()
	{
		if(maxCols=="") { maxCols=document.getElementById("fraDefaultMain").cols; }
		document.getElementById("fraDefaultMain").cols = minCols;
	}
	function RefreshSideBar()
	{
	fraSideBar = document.getElementById("SideBar");
	fraSideBar.src = fraSideBar.src;
	}
	
  </script>

    <frameset cols="100%,1,*" id="fraDefaultMain"  frameborder="no" border="0" framespacing="0">
          <frame name="SideBar" name="SideBar" src="TRAOrderHdrListV2.aspx">
          <frame name="fraSpliter"  src="Spliter.aspx" scrolling="no">
          <frame name="ContentBar" src="../../blank.aspx"  >
     </frameset>
     </html> 