<%@ Page Language="VB" AutoEventWireup="false" CodeFile="CallActyHistByCont.aspx.vb" Inherits="iFFMR_Customize_CallActyHistByCont" %>

<%@ Register TagPrefix="customToolkit" TagName="wuc_UpdateProgress" Src="~/include/wuc_UpdateProgress.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_ctrlpanel" Src="~/include/wuc_ctrlpanel.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblheader" Src="~/include/wuc_lblheader.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_Menu" Src="~/include/menu/wuc_Menu.ascx" %>
<%@ Register TagPrefix="ccGV" Namespace="cor_CustomCtrl" Assembly="cor_CustomCtrl" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<title>CallActyHistByCont</title>
    <link rel="stylesheet" href='~/include/DKSH.css' />
</head>
<!--#include File="~/include/commonutil.js"-->   
<body class="BckgroundInsideContentLayout">
    <form id="frmCallActyHistByCont" method="post" runat="server">
        <AjaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" AsyncPostBackTimeout="300" ScriptMode="Release" />
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr align="center">
                <td valign="top" style="width: 100%" class="BckgroundInsideContentLayout" align="center">
                    <fieldset class="" style="width: 98%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
                            <tr>
                                <td align="left">
                                    <customToolkit:wuc_ctrlpanel ID="wuc_ctrlpanel" runat="server"></customToolkit:wuc_ctrlpanel>
                                </td>
                            </tr>
                            <tr><td style="height: 2px"></td></tr>
                            <tr>
                                <td>
                                    <asp:UpdatePanel runat="server" ID="Update_lblErr" RenderMode="Inline">
                                        <ContentTemplate>
                                            <asp:Label ID="lblErr" runat="server" CssClass="cls_label_err"></asp:Label>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                </td>
                            </tr>
                            <tr>
                                <td class="BckgroundInsideContentLayout" align="left">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="Bckgroundreport">
                                        <tr>
                                            <td colspan="3" style="width: 100%">
                                                <customToolkit:wuc_lblheader ID="wuc_lblHeader" runat="server"></customToolkit:wuc_lblheader>
                                            </td>
                                        </tr>
                                        <tr><td class="BckgroundBenealthTitle" colspan="3"></td></tr>
                                        <tr>
                                            <td></td>
                                            <td valign="top" class="Bckgroundreport">
                                                <customToolkit:wuc_UpdateProgress ID="Wuc_UpdateProgress1" runat="server" />
                                                <asp:UpdatePanel ID="UpdateDatagrid" runat="server" UpdateMode="Conditional" RenderMode="block">
                                                    <ContentTemplate>
                                                        <table id="tblReport" runat="server" border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td align="left">
                                                                    <table id="tblControl" runat="server" border="0" cellpadding="0" cellspacing="0" width="98%">
                                                                        <tr>
                                                                            <td>
                                                                                <asp:Button ID="btnBack" runat="server" CssClass="cls_button" PostBackUrl="~/iFFMR/Customize/CallActyHistByCont.aspx" ToolTip="Back To Previous Page." Text="Back"></asp:Button>
                                                                            </td>
                                                                            <td align="left" style="width: 100%"></td>
                                                                            <td align="right">
                                                                                <asp:Timer id="TimerControl_1" runat="server" enabled="False" interval="100"></asp:Timer>&nbsp;
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                    <asp:DetailsView ID="dvList" runat="server" AutoGenerateRows="False" CssClass="Grid"
                                                                        Width="60%" BorderWidth="0px" RowStyle-HorizontalAlign="Left" AlternatingRowStyle-HorizontalAlign="Left">
                                                                        <Fields>
                                                                            <asp:BoundField DataField="CUST_NAME" HeaderText="Customer" ReadOnly="True" SortExpression="CUST_NAME" />
                                                                            <asp:BoundField DataField="CONT_NAME" HeaderText="Contact" ReadOnly="True" SortExpression="CONT_NAME" />
                                                                            <asp:BoundField DataField="CLASS" HeaderText="Class" ReadOnly="True" SortExpression="CLASS" />
                                                                            <asp:BoundField DataField="DEPARTMENT" HeaderText="Department" ReadOnly="True" SortExpression="DEPARTMENT" />
                                                                        </Fields>
                                                                        <RowStyle CssClass="cls_label" />
                                                                        <FieldHeaderStyle CssClass="cls_label_header" HorizontalAlign="Left" Width="15%" Wrap="False" />
                                                                    </asp:DetailsView>
                                                                </td>
                                                            </tr>
                                                            <tr><td colspan="2" style="height: 10px"></td></tr>
                                                            <tr>
                                                                <td>&nbsp;</td>
                                                                <td align="center">
                                                                    <ccGV:clsGridView ID="dgList" runat="server" AllowSorting="True" AutoGenerateColumns="False"
                                                                        Width="98%" FreezeHeader="True" GridHeight="440" AddEmptyHeaders="0" CellPadding="2"
                                                                        CssClass="Grid" EmptyHeaderClass="" FreezeColumns="0" FreezeRows="0" GridWidth=""
                                                                        RowHighlightColor="AntiqueWhite">
                                                                        <EmptyDataRowStyle HorizontalAlign="Center" Font-Bold="True" />
                                                                        <EmptyDataTemplate>There is no data to display.</EmptyDataTemplate>
                                                                    </ccGV:clsGridView>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                        <br />
                                                    </ContentTemplate>
                                                </asp:UpdatePanel>
                                            </td>
                                            <td></td>
                                        </tr>
                                        <tr class="Bckgroundreport" style="height: 10px">
                                            <td colspan="3"></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>

