<%@ Page Language="VB" AutoEventWireup="false" Inherits="iFFMR_Customize_SalesrepCallRate"
    CodeFile="~/iFFMR/Customize/SalesrepCallRate.aspx.vb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Field Force Call Rate</title>
 <link href="~/include/DKSH.css" rel="stylesheet" />
</head>
<body style="margin: 0; border: 0; padding: 0;" class="BckgroundInsideContentLayout">
    <span id="TopBar" style="display: inline; overflow: hidden; margin: 0; border: 0;
        padding: 0;">
        <iframe id="TopBarIframe" frameborder="0" marginwidth="0" marginheight="0" src="../../iFFMR/Customize/SalesrepCallRAte/SalesrepCallRateSearch.aspx"
            width="100%" height="400" scrolling="no" style="border: 0; position: relative;
            top: 0px;"></iframe>
    </span><span id="ContentBar" style="display: inline; overflow: hidden; margin: 0;
        border: 0; padding: 0;">
        <iframe id="ContentBarIframe" frameborder="0" marginwidth="0" marginheight="0" src="../../iFFMR/Customize/SalesrepCallRate/NoRecordFoundPage.aspx"
            width="100%" height="0" scrolling="no" style="border: 0; position: relative; top: 0px;">
        </iframe>
    </span><span id="DetailBar" style="display: inline; overflow: hidden; margin: 0;
        border: 0; padding: 0;">
        <iframe id="DetailBarIframe" frameborder="0" marginwidth="0" marginheight="0" src="../../iFFMR/Customize/SalesrepCallRate/NoRecordFoundPage.aspx"
            width="100%" scrolling="no" height="0" style="border: 0; position: relative; top: 0px;">
        </iframe>
    </span>
</body>
<%--<frameset cols="100%,0,*" id="fraDefaultMain" frameborder="no" border="0" framespacing="0">
    <frameset rows="500,0,*" frameborder="no" border="0" framespacing="0" id="fraDefaultMainHoriz">
        <frame src="../../iFFMR/Customize/SalesrepCallRAte/SalesrepCallRateSearch.aspx" name="TopBar">
        <frame name="fraSpliterHoriz" src="../../iFFMR/Customize/SalesrepCallRate/SpliterHoriz.aspx"
            scrolling="no">
        <frame src="../../iFFMR/Customize/SalesrepCallRate/NoRecordFoundPage.aspx" name="ContentBar">
    </frameset>
    <frame name="fraSpliter" src="../../iFFMR/Customize/SalesrepCallRate/Spliter.aspx"
        scrolling="no">
    <frame src="../../iFFMR/Customize/SalesrepCallRate/NoRecordFoundPage.aspx" name="DtlContentBar">
</frameset>--%>
</html>
