﻿body {
}

/* Label section */
.label_std {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR: Black;
	FONT-FAMILY: Arial,  Verdana;
}
.label_err {
	FONT-WEIGHT: normal;
    FONT-SIZE:x-small;
    COLOR: red; 
    FONT-FAMILY:  Arial, Tahoma,Verdana, Arial;
}
/* End Label section */

/* Textbox section */
.textbox_std 
{
    padding:1px 1px 1px 1px;
	BORDER-LEFT: #666666 1px solid;
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial;
	COLOR: #666666;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;
    width:145px;
}
/* End Textbox section */


/* Button section */
.button_std 
{
	padding:1px 1px 1px 1px;
    BORDER-STYLE : solid;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #666666 1px solid;
	BORDER-TOP: #666666 1px solid;
	BORDER-LEFT: #666666 1px solid;
	BORDER-BOTTOM: #666666 1px solid;
	CURSOR: pointer;
	FONT-WEIGHT: normal;
	FONT-SIZE: x-small;
	COLOR: Black;
	FONT-FAMILY: Arial;
}
/* End Button section */

/* DropDownList section */
.dropdownlist_std {
	FONT-WEIGHT: normal;
	FONT-SIZE: x-small;
	FONT-STYLE: normal;
	FONT-FAMILY: Arial;
	COLOR: #666666;
	BACKGROUND-COLOR: #ffffff;
	TEXT-ALIGN: left;   
    /*z-index:0;*/
}
/* End DropDownList section */


/* Link section */
A:link, A:visited {
	BORDER-RIGHT: thin;
	BORDER-TOP: thin;
	TEXT-DECORATION : none;
	font-size: 8pt;
	BORDER-LEFT: thin;
	/*COLOR: #0000FF;*/
	color: #666666;
	BORDER-BOTTOM: thin;
	FONT-FAMILY: Arial;
}
A:hover
{	
	TEXT-DECORATION : underline;
    FONT-FAMILY:  Arial;
}
/* End link section */