﻿/****Detailsview section***********************************/
.cls_DV_Header {
    font: bold 10px Arial;
	color: #FFFFFF;
	background-color:#AA1E34;
}
.cls_DV_Row {
	background-color: #E0E0E0;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
.cls_DV_Alt_Row {
    background-color: #FAFAFA;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
.cls_DV_Alt_Row TD, .cls_DV_Row TD,.cls_DV_Alt_Row_MST TD, .cls_DV_Row_MST TD
{
	padding-left:5px;
}
.cls_DV_Selected
{
	background-color: #ECC3BF;
	font-weight:bold;
	font: x-small Arial, Franklin Gothic Medium;
}

/****End Detailsview section***********************************/
