﻿.border_std {
	font-family: Arial, helvetica;
	font-size: 10pt;
	border: 1px solid #b9b8b8;
	/*border-top: 0;*/
	padding: 5px 10px 5px 10px;
}
.cls_label_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE:8pt;
    COLOR: Black;    
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}
cls_textbox
{
    border:solid 1px #666666;
    
    FONT-SIZE: x-small;
    /*FONT-FAMILY: Verdana, Tahoma, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Verdana, Tahoma, Arial;
    COLOR: #666666;
    
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
}
.cls_label
{
    FONT-WEIGHT: normal;
    FONT-SIZE:8pt;
    COLOR: Black;   
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}
.cls_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 14pt;
    COLOR: #666666;   
    TEXT-DECORATION : none;
    /*FONT-FAMILY: Arial,Tahoma, Verdana; */
    FONT-FAMILY: Arial,Tahoma, Verdana;
}
.bckgroundTitleBar
{
    background-color:#FFFFFF; border-bottom: solid 1px #b9b8b8; width:99%; padding:2px 0px 5px 5px; text-align:left;
}
.cls_validator {
	FONT-WEIGHT: bold;
	FONT-SIZE: xx-small;
	COLOR: red;
	FONT-FAMILY: Arial,  Verdana;
}

tr.link
{
	color:black;
	font-weight:bold;
	padding: 5px 10px 5px 10px;
	font-family:Arial, helvetica;
	text-align:left;	
	padding: 5px 10px 5px 10px;
	font-size:8pt;	
	
}
tr.link:hover
{
	background-color:#E7E7FF;
}
Body
{
  margin-top: 0%; 
  margin-bottom: 0%; 
  margin-left: 0%; 
  margin-right: 0%;
  width: 100%;
  vertical-align:top;
}

.ModalBackground
  {
  FILTER: alpha(opacity=30);	BACKGROUND-COLOR:gray; left:0px; top:0px;	opacity: 0.3; z-index:999998;
  }
  