﻿/****Gridview section***********************************/
.Grid {
}
.GridHeader {
	font: bold 10px Arial;
	color: #FFFFFF;
	background-color:#AA1E34;
}
.GridFooter {
	text-align: right; 
	background-color: #FFF380;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	color: #000000;
	text-decoration: none /*By Alex on 2006-10-17***********************************/;
}
.GridHeader A, .GridHeader A:link, .GridHeader A:visited {
	text-decoration: none;
	color: #FFFFFF;
	background-color:#AA1E34;
}
TR.GridNormal TH, TR.GridAlternate TH {
	text-align: left;
}
.GridNormal {
	background-color: #E0E0E0;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
.GridNormal TD A, .GridNormal TD A:link, .GridNormal TD A:visited {
	text-decoration: none;
	COLOR: #006699;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
.GridSelected {
	background-color: #ECC3BF;
	font-weight:bold;
	font: x-small Arial, Franklin Gothic Medium;
}
.GridAlternate {
	background-color: #FAFAFA;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
.GridAlternate TD A, .GridAlternate TD A:link, .GridAlternate TD A:visited {
	text-decoration: none;
	COLOR: #006699;
	font-weight: normal;
	font: x-small Arial, Franklin Gothic Medium;
}
/****End Gridview section***********************************/