﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="PrdMustSellPop.ascx.vb" Inherits="iFFMA_Product_PrdMustSellPop" %>

<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_PrdSearch" Src="ProdSearchPop.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_CustSearch" Src="../Common/wuc_CustSearch.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_txtCalendarRange" Src="~/include/wuc_txtCalendarRange.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />

                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="team_code"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Team Code">
                                <%--<EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblTeamCode" runat="server" Text='<%# Bind("team_code")%>' CssClass="cls_label" />
                                </EditItemTemplate>--%>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblTeamCode" runat="server" Text='<%# Bind("team_code")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlTeamCode" runat="server" CssClass="cls_dropdownlist" Width="180px" AutoPostBack="true" OnSelectedIndexChanged="ddlTeamCode_SelectedIndexChanged" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvTeamCode" runat="server" ControlToValidate="ddlTeamCode"
                                        ErrorMessage="Team Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Salesrep Code">
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblSalesrepCode" runat="server" Text='<%# Bind("salesrep_code")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlSalesrepCode" runat="server" CssClass="cls_dropdownlist" Width="180px" />
                                </InsertItemTemplate>

                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Param Type">
                                <%--<EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblParamType" runat="server" Text='<%# Bind("param_type")%>' CssClass="cls_label" />
                                </EditItemTemplate>--%>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblParamType" runat="server" Text='<%# Bind("param_type")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlParamType" runat="server" CssClass="cls_dropdownlist" Width="180px" AutoPostBack="true" OnSelectedIndexChanged="ddlParamType_SelectedIndexChanged" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvParamType" runat="server" ControlToValidate="ddlParamType"
                                        ErrorMessage="Param Type is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Param Value">
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblParamValue" runat="server" Text='<%# Bind("param_value")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlParamValue" runat="server" CssClass="cls_dropdownlist" Width="180px" />
                                    <asp:RequiredFieldValidator ID="rfvParamValue" runat="server" ControlToValidate="ddlParamValue"
                                        ErrorMessage="Param Value is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>

                                    <asp:TextBox ID="txtParamValue" runat="server" CssClass="cls_textbox" Text='<%# Bind("param_value")%>' Enabled="false" Visible="false" Width="150px"></asp:TextBox>
                                    <asp:RequiredFieldValidator ID="rfvCustCode" runat="server" ControlToValidate="txtParamValue"
                                        ErrorMessage="Param Value is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" Visible="false"></asp:RequiredFieldValidator>
                                    <asp:Button ID="btnSearchCust" runat="server" CssClass="cls_button" Text="Search" Visible="false" OnClick="btnSearchCust_Click" />
                                    <span class="cls_label_err">*</span>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Product Code">
                                <%--<EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("prd_code")%>' CssClass="cls_label" />
                                </EditItemTemplate>--%>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="txtPrdCode" runat="server" Text='<%# Bind("prd_code")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrdCode" runat="server" Text='<%# Bind("prd_code")%>' CssClass="cls_textbox" Enabled="False" Width="180px"></asp:TextBox>
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvPrdCode" runat="server" ControlToValidate="txtPrdCode"
                                        ErrorMessage="Product Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                    <asp:Button ID="btnSearchPrd" runat="server" CssClass="cls_button" Text="Search" OnClick="btnSearchPrd_Click" />
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Target">
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblTarget" runat="server" Text='<%# Bind("target")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtTarget" runat="server" Text='<%# Bind("target")%>' CssClass="cls_textbox" Enabled="true" Width="180px"></asp:TextBox>
                                    <asp:RegularExpressionValidator id="RegularExpressionValidator1" ControlToValidate="txtTarget" ValidationExpression="\d+" CssClass="cls_label_header" ErrorMessage="Please enter numbers only" runat="server"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                        </Fields>
                    </asp:DetailsView>


                    <asp:Panel ID="pnlInsertMode" runat="server">
                        <span style="float:left; padding-top:15px; text-decoration:underline;" class="cls_label_header">Please select date range</span> <span style="float:left; padding-top:15px;" class="cls_label_mark">*</span>
                        <span style="float:left; padding-bottom:50px; padding-top:15px">
                            <customToolkit:wuc_txtCalendarRange 
                                    ID="txtDate" 
                                    runat="server" 
                                    RequiredValidation="true"
                                    RequiredValidationGroup="Save" 
                                    DateFormatString="yyyy-MM-dd" 
                                    CompareDateRangeValidation="true" />
                        </span>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                                <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                            </center>
                        </span>
                    </asp:Panel>
                    
                    <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        <span style="float:left; padding-top:15px; padding-bottom:30px;">
                            <span style="float:left; width:100px; padding-left:2;" class="cls_label_header">Start Date : </span>
                            <span style="float:left; width:150px; padding-left:2;"><asp:Label ID="lblStartDate" runat="server" CssClass="cls_label" /></span>
                            <span style="float:left; width:100px; padding-left:2;" class="cls_label_header">End Date : </span>
                            <span style="float:left; width:150px; padding-left:2;"><asp:Label ID="lblEndDate" runat="server" CssClass="cls_label" /></span>
                        </span>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                            </center>
                        </span>
                    </asp:Panel>


                    <%--<span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        </asp:Panel>
                        </center>
                    </span>--%>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdSalesrepCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdParamType" runat="server" Value="" />
                    <asp:HiddenField ID="hdParamValue" runat="server" Value="" />
                    <asp:HiddenField ID="hdPrdCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdStartDate" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />

        <span style="float: left;">
            <customToolkit:wuc_PrdSearch ID="wuc_PrdSearch" Title="Product Search" runat="server" />
            <span style="float: left;">
                <customToolkit:wuc_CustSearch ID="wuc_CustSearch" Title="Customer Search" runat="server" />
            </span>
        </span>
    </ContentTemplate>
</asp:UpdatePanel>
