<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ProductUOMPop.ascx.vb" Inherits="iFFMA_Product_ProductUOMPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                                                        
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="UOM_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="35%" Wrap="False" />
                        <RowStyle VerticalAlign="Middle" HorizontalAlign="Left" />
                        <Fields>
                            <asp:TemplateField HeaderText="Product Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                     <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            
                            <asp:TemplateField HeaderText="Sales Org">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSalesOrg" runat="server" Text="" CssClass="cls_label" />
                                    <asp:HiddenField ID="hdSalesOrgCode" runat="server" Value="" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSalesOrg" runat="server" Text="" CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlSalesOrg" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_mark">*</span>
                                    <asp:RequiredFieldValidator ID="rfvSalesOrg" runat="server" ControlToValidate="ddlSalesOrg"
                                        ErrorMessage="Sales Org is Required." ValidationGroup="SaveUOM"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            
                            <asp:TemplateField HeaderText="Region">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblRegion" runat="server" Text="" CssClass="cls_label" />
                                    <asp:HiddenField ID="hdRegionCode" runat="server" Value="" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblRegion" runat="server" Text="" CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlRegion" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_mark">*</span>
                                    <asp:RequiredFieldValidator ID="rfvRegion" runat="server" ControlToValidate="ddlRegion"
                                        ErrorMessage="Region is Required." ValidationGroup="SaveUOM"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            
                            <asp:TemplateField HeaderText="UOM">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblUOM" runat="server" Text='<%# Bind("UOM_NAME") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblUOM" runat="server" Text='<%# Bind("UOM_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlUOM" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_mark">*</span>
                                    <asp:RequiredFieldValidator ID="rfvUOM" runat="server" ControlToValidate="ddlUOM"
                                        ErrorMessage="UOM is Required." ValidationGroup="SaveUOM"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Conversion Factor">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtConvFactor" runat="server" Text='<%# Bind("CONV_FACTOR") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revConvFactor" runat="server" ControlToValidate="txtConvFactor" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SaveUOM" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblConvFactor" runat="server" Text='<%# Bind("CONV_FACTOR") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtConvFactor" runat="server" Text='<%# Bind("CONV_FACTOR") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revConvFactor" runat="server" ControlToValidate="txtConvFactor" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SaveUOM" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Product List Price">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrdListPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revPrdListPrice" runat="server" ControlToValidate="txtPrdListPrice" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SaveUOM" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdListPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrdListPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revPrdListPrice" runat="server" ControlToValidate="txtPrdListPrice" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SaveUOM" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SaveUOM" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdPrdCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdUOMCode" runat="server" Value="" />
                    
                    
                </fieldset>
            </div>
        </asp:Panel>
        
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
        
    </ContentTemplate>
</asp:UpdatePanel>