<%@ Control Language="VB" AutoEventWireup="false" CodeFile="StockAllocPop.ascx.vb" Inherits="iFFMA_Product_StockAllocPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_txtCalendarRange" Src="~/include/wuc_txtCalendarRange.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_PrdSearch" Src="../Common/wuc_PrdSearch.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 500px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" CausesValidation="false" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="PRD_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Product Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_textbox" Enabled="false" MaxLength="50"/>
                                    <span class="cls_label_err" >*</span>
                                    <asp:Button ID="btnSearchPrd" runat="server" CssClass="cls_button" Text="Search" OnClick="btnSearchPrd_Click" />
                                    <asp:RequiredFieldValidator ID="rfvPrdCode" runat="server" ControlToValidate="txtPrdCode"
                                        ErrorMessage="Product Code is Required." ValidationGroup="Save"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="UOM">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:dropdownlist ID="ddlUOM" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvUOM" runat="server" ControlToValidate="ddlUOM"
                                        ErrorMessage="UOM is Required." ValidationGroup="Save"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblUOM" runat="server" Text='<%# Bind("UOM_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:dropdownlist ID="ddlUOM" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvUOM" runat="server" ControlToValidate="ddlUOM"
                                        ErrorMessage="UOM is Required." ValidationGroup="Save"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Allocate Quantity">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAllocQty" runat="server" Text='<%# Bind("ALLOC_QTY") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAllocQty" runat="server" ControlToValidate="txtAllocQty" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="Save" ValidationExpression="^\d+$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblAllocQty" runat="server" Text='<%# Bind("ALLOC_QTY") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAllocQty" runat="server" Text='<%# Bind("ALLOC_QTY") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAllocQty" runat="server" ControlToValidate="txtAllocQty" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="Save" ValidationExpression="^\d+$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <asp:Panel ID="pnlEditMode" runat="server">
                        <span style="float:left; padding-top:15px; text-decoration:underline;" class="cls_label_header">Please select date range</span> <span style="float:left; padding-top:15px;" class="cls_label_mark">*</span>
                        <span style="float:left; padding-bottom:30px;">
                            <customToolkit:wuc_txtCalendarRange 
                                    ID="txtDate" 
                                    runat="server" 
                                    RequiredValidation="true"
                                    RequiredValidationGroup="Save" 
                                    DateFormatString="yyyy-MM-dd" 
                                    CompareDateRangeValidation="true" />
                        </span>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                                <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                            </center>
                        </span>
                    </asp:Panel>
                    
                    <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        <span style="float:left; padding-top:15px; padding-bottom:30px;">
                            <span style="float:left; width:15%; padding-left:2;" class="cls_label_header">Start Date : </span>
                            <span style="float:left; width:30%; padding-left:2;"><asp:Label ID="lblStartDate" runat="server" CssClass="cls_label" /></span>
                            <span style="float:left; width:15%; padding-left:2;" class="cls_label_header">End Date : </span>
                            <span style="float:left; width:30%; padding-left:2;"><asp:Label ID="lblEndDate" runat="server" CssClass="cls_label" /></span>
                        </span>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                            </center>
                        </span>
                    </asp:Panel>
                        
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdPrdCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdUOMCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdStartDate" runat="server" Value="" />
                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdSalesrepCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose" 
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
            
        <span style="float:left; "><customToolkit:wuc_PrdSearch ID="wuc_PrdSearch" Title="Product Search" runat="server" /></span> 
    </ContentTemplate>
</asp:UpdatePanel>