﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="ffms.aspx.vb" Inherits="Admin_Integration_ffms" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="frmffms" runat="server">
    <div>
        <asp:Label ID="lblErr" runat="server" Text=""></asp:Label>
        <asp:Label ID="lblMsg" runat="server" Text=""></asp:Label>
    </div>
    </form>
</body>
</html>
