<%@ Page Language="VB" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<script runat="server"></script>

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>SFA</title>
    <script language="javascript" type="text/javascript">		
function killErrors() {return true; } window.onerror = killErrors; 
    </script>
</head>
<frameset id="fraDefault" rows="120,*" cols="*" frameborder="NO" border="0" framespacing="0">
    <frame name="fraTop" scrolling="NO" noresize  src="top.aspx">
    <frameset id="fraDefaultMain" cols="*" frameborder="NO" border="0" framespacing="0">
        <frame name="fraMain" src="main.aspx">
    </frameset>
</frameset>
</html>
