<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ContactAcctPop.ascx.vb" Inherits="iFFMA_Contact_ContactAcctPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_CustSearch" Src="../Common/wuc_CustSearch.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="CUST_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="35%" Wrap="False" />
                        <RowStyle VerticalAlign="Middle" HorizontalAlign="Left" />
                        <Fields>
                            <asp:TemplateField HeaderText="Contact Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblContCode" runat="server" Text='<%# Bind("CONT_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblContCode" runat="server" Text='<%# Bind("CONT_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblContCode" runat="server" Text='<%# Bind("CONT_CODE") %>' CssClass="cls_label" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Customer Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtCustCode" runat="server" Text='<%# Bind("CUST_CODE") %>' CssClass="cls_textbox" Enabled="false" MaxLength="50"/>
                                    <span class="cls_label_err" >*</span>
                                    <asp:Button ID="btnSearchCust" runat="server" CssClass="cls_button" Text="Search" OnClick="btnSearchCust_Click" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Status">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlStatus" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="A">Active</asp:ListItem>
                                        <asp:ListItem Value="D">Inactive</asp:ListItem>
                                    </asp:DropDownList>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblStatus" runat="server" Text='<%# Bind("STATUS_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlStatus" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="A">Active</asp:ListItem>
                                        <asp:ListItem Value="D">Inactive</asp:ListItem>
                                    </asp:DropDownList>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Position">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlPosition" runat="server" CssClass="cls_dropdownlist" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPosition" runat="server" Text='<%# Bind("POSITION_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlPosition" runat="server" CssClass="cls_dropdownlist" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Department">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlDepartment" runat="server" CssClass="cls_dropdownlist" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblDepartment" runat="server" Text='<%# Bind("DEPARTMENT_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlDepartment" runat="server" CssClass="cls_dropdownlist" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Location">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtLoc" runat="server" Text='<%# Bind("LOC") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblLoc" runat="server" Text='<%# Bind("LOC") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtLoc" runat="server" Text='<%# Bind("LOC") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Tel No. 1">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtTelNo1" runat="server" Text='<%# Bind("TEL_NO_1") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblTelNo1" runat="server" Text='<%# Bind("TEL_NO_1") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtTelNo1" runat="server" Text='<%# Bind("TEL_NO_1") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Tel No. 2">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtTelNo2" runat="server" Text='<%# Bind("TEL_NO_2") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblTelNo2" runat="server" Text='<%# Bind("TEL_NO_2") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtTelNo2" runat="server" Text='<%# Bind("TEL_NO_2") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Fax No.">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtFaxNo" runat="server" Text='<%# Bind("FAX_NO") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblFaxNo" runat="server" Text='<%# Bind("FAX_NO") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtFaxNo" runat="server" Text='<%# Bind("FAX_NO") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Admin Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPacCode" runat="server" Text='<%# Bind("PAC_CODE") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPacCode" runat="server" Text='<%# Bind("PAC_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPacCode" runat="server" Text='<%# Bind("PAC_CODE") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Abbreviation">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtHospAbbv" runat="server" Text='<%# Bind("HOSP_ABBV") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblHospAbbv" runat="server" Text='<%# Bind("HOSP_ABBV") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtHospAbbv" runat="server" Text='<%# Bind("HOSP_ABBV") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Ranking">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlHospRank" runat="server" CssClass="cls_dropdownlist" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblHospRank" runat="server" Text='<%# Bind("HOSP_RANK_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlHospRank" runat="server" CssClass="cls_dropdownlist" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Number of Customers / Day">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPatientCount" runat="server" Text='<%# Bind("PATIENT_COUNT") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="REV_txtPatientCount" runat="server" ControlToValidate="txtPatientCount" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SaveContAcct" ValidationExpression="^\d+$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPatientCount" runat="server" Text='<%# Bind("PATIENT_COUNT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPatientCount" runat="server" Text='<%# Bind("PATIENT_COUNT") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="REV_txtPatientCount" runat="server" ControlToValidate="txtPatientCount" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SaveContAcct" ValidationExpression="^\d+$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Number of counters">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBedCount" runat="server" Text='<%# Bind("BED_COUNT") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="REV_txtBedCount" runat="server" ControlToValidate="txtBedCount" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SaveContAcct" ValidationExpression="^\d+$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblBedCount" runat="server" Text='<%# Bind("BED_COUNT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtBedCount" runat="server" Text='<%# Bind("BED_COUNT") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="REV_txtBedCount" runat="server" ControlToValidate="txtBedCount" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SaveContAcct" ValidationExpression="^\d+$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Customer Capacity to Pay">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlPatientCap" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="High">High</asp:ListItem>
                                        <asp:ListItem Value="Medium">Medium</asp:ListItem>
                                        <asp:ListItem Value="Low">Low</asp:ListItem>
                                    </asp:DropDownList>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPatientCap" runat="server" Text='<%# Bind("PATIENT_CAP") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlPatientCap" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="High">High</asp:ListItem>
                                        <asp:ListItem Value="Medium">Medium</asp:ListItem>
                                        <asp:ListItem Value="Low">Low</asp:ListItem>
                                    </asp:DropDownList>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Outlet Size">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPracticeSize" runat="server" Text='<%# Bind("PRACTICE_SIZE") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPracticeSize" runat="server" Text='<%# Bind("PRACTICE_SIZE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPracticeSize" runat="server" Text='<%# Bind("PRACTICE_SIZE") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SaveContAcct" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdContCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdCustCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />

        <span style="float:left; "><customToolkit:wuc_CustSearch ID="wuc_CustSearch" Title="Customer Search" runat="server" /></span> 
    </ContentTemplate>
</asp:UpdatePanel>