<%@ Control Language="VB" AutoEventWireup="false" CodeFile="ContactRepPop.ascx.vb" Inherits="iFFMA_Contact_ContactRepPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="CUST_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="35%" Wrap="False" />
                        <RowStyle VerticalAlign="Middle" HorizontalAlign="Left" />
                        <Fields>
                            <asp:TemplateField HeaderText="Contact Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblContCode" runat="server" Text='<%# Bind("CONT_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblContCode" runat="server" Text='<%# Bind("CONT_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Salesrep Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSalesrepCode" runat="server" Text='<%# Bind("SALESREP_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSalesrepCode" runat="server" Text='<%# Bind("SALESREP_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Customer Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblCustCode" runat="server" Text='<%# Bind("CUST_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Status">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlStatus" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="A">Active</asp:ListItem>
                                        <asp:ListItem Value="D">Inactive</asp:ListItem>
                                    </asp:DropDownList>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblStatus" runat="server" Text='<%# Bind("STATUS_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Specialty">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlSpecialityName" runat="server" CssClass="cls_dropdownlist" />
                                    <%--<asp:TextBox ID="txtSpecialityName" runat="server" Text='<%# Bind("SPECIALITY_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />--%>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblSpecialityName" runat="server" Text='<%# Bind("SPECIALITY_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Department">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlDepartment" runat="server" CssClass="cls_dropdownlist" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblDepartment" runat="server" Text='<%# Bind("DEPARTMENT_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Assistant Name">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtAsstName" runat="server" Text='<%# Bind("ASST_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblAsstName" runat="server" Text='<%# Bind("ASST_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Priority">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPriorityName" runat="server" Text='<%# Bind("PRIORITY_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPriorityName" runat="server" Text='<%# Bind("PRIORITY_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Visit Frequency">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtVisitFreq" runat="server" Text='<%# Bind("VISIT_FREQ") %>' CssClass="cls_textbox" MaxLength="50"/>
                                    <asp:RegularExpressionValidator ID="REV_txtVisitFreq" runat="server" ControlToValidate="txtVisitFreq" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (one decimal) value allowed!" ValidationGroup="SaveContRep" ValidationExpression="^[0-9]{1,5}(\.[0-9]{0,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblVisitFreq" runat="server" Text='<%# Bind("VISIT_FREQ") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Personal Interest">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPersonalInterest" runat="server" Text='<%# Bind("PERSONAL_INTEREST") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPersonalInterest" runat="server" Text='<%# Bind("PERSONAL_INTEREST") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Medical Interest">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtMedInterest" runat="server" Text='<%# Bind("MED_INTEREST") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblMedInterest" runat="server" Text='<%# Bind("MED_INTEREST") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Marketing Preference">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtMktgPref" runat="server" Text='<%# Bind("MKTG_PREF") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblMktgPref" runat="server" Text='<%# Bind("MKTG_PREF") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="xfield1 *">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtXfield1" runat="server" Text='<%# Bind("XFIELD_1") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblXfield1" runat="server" Text='<%# Bind("XFIELD_1") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="xfield2">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtXfield2" runat="server" Text='<%# Bind("XFIELD_2") %>' CssClass="cls_textbox" MaxLength="50"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblXfield2" runat="server" Text='<%# Bind("XFIELD_2") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Notes">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtNotes" runat="server" Text='<%# Bind("NOTES") %>' CssClass="cls_textbox" MaxLength="250"/>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblNotes" runat="server" Text='<%# Bind("NOTES") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                                <asp:TemplateField HeaderText="Class">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlClass" runat="server" CssClass="cls_dropdownlist" ></asp:DropDownList><%--
                                    <asp:TextBox ID="txtClass" runat="server" Text='<%# Bind("CLASS") %>' CssClass="cls_textbox" MaxLength="250"/>--%>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblClass" runat="server" Text='<%# Bind("CLASS") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top: 10px;" class="cls_label">  
                        * xfield1: Contact field which you want to display in the contact first screen of the pda
                    </span>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SaveContRep" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdContCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdSalesrepCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdCustCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
        
    </ContentTemplate>
</asp:UpdatePanel>