<%@ Page Language="vb" AutoEventWireup="false" Inherits="CommList" CodeFile="CommList.aspx.vb" %>

<%@ Reference Control="~/include/wuc_ctrlpanel.ascx" %>
<%@ Reference Control="~/include/wuc_lblheader.ascx" %>
<%@ Reference Control="~/include/menu/wuc_Menu.ascx" %>
<%@ Register Src="~/include/wuc_UpdateProgress.ascx" TagName="wuc_UpdateProgress" TagPrefix="customToolkit" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_ctrlpanel" Src="~/include/wuc_ctrlpanel.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblheader" Src="~/include/wuc_lblheader.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_Menu" Src="~/include/menu/wuc_Menu.ascx" %>
<%@ Register TagPrefix="ccGV" Namespace="cor_CustomCtrl" Assembly="cor_CustomCtrl" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>CommList</title>
    <link href="~/include/DKSH.css" rel="stylesheet" />
</head>
<!--#include File="~/include/commonutil.js"-->
<body class="BckgroundInsideContentLayout">
    <form id="frmCommList" method="post" runat="server">
       
        <AjaxToolkit:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server"  AsyncPostBackTimeout="300" ScriptMode="Release" />
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr align="center">
                <td valign="top" align="left">
                    <asp:UpdatePanel ID="UpdateMenuPanel" runat="server" UpdateMode="Conditional"  RenderMode="Inline" >
                        <ContentTemplate>
                            <asp:Panel ID="pnlTreeMenuControl" runat="server"  >
                                <customToolkit:wuc_Menu ID="wuc_Menu" runat="server" />
                            </asp:Panel>
                        </ContentTemplate>
                    </asp:UpdatePanel>
                </td>
                <td valign="top" style="width: 100%" class="BckgroundInsideContentLayout" align="center">
                    <fieldset class="" style="width: 98%;">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="">
                            <tr>
                                <td align="left">
                                    <customToolkit:wuc_ctrlpanel ID="wuc_ctrlpanel" runat="server"></customToolkit:wuc_ctrlpanel>
                                </td>
                            </tr>
                            <tr>
                                <td style="height: 2px">
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <asp:UpdatePanel runat="server" ID="Update_lblErr" RenderMode="Inline">
                                        <ContentTemplate>
                                            <asp:Label ID="lblErr" runat="server" CssClass="cls_label_err"></asp:Label>
                                        </ContentTemplate>
                                    </asp:UpdatePanel>
                                </td>
                            </tr>
                            <tr>
                                <td class="BckgroundInsideContentLayout" align="left">
                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center" class="Bckgroundreport">
                                        <tr>
                                            <td colspan="3" style="width: 100%">
                                                <customToolkit:wuc_lblHeader ID="wuc_lblHeader" runat="server"></customToolkit:wuc_lblHeader>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="BckgroundBenealthTitle" colspan="3">
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                            </td>
                                            <td valign="top" class="Bckgroundreport">
                                                <customToolkit:wuc_UpdateProgress ID="Wuc_UpdateProgress1" runat="server" />
                                                <asp:UpdatePanel ID="UpdateDatagrid" runat="server" UpdateMode="Conditional" RenderMode="block">
                                                    <ContentTemplate>
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                                            <tr>
                                                                <td align="left">
                                                                    <asp:Timer id="TimerControl1" runat="server" enabled="False" interval="100" ontick="TimerControl1_Tick" />
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center">
                                                                    <ccGV:clsGridView ID="dgList" runat="server" ShowFooter="false" AllowPaging="false"
                                                                        AllowSorting="True" AutoGenerateColumns="false" Width="98%" FreezeHeader="true"
                                                                        GridHeight="455" RowSelectionEnabled="true" EmptyDataText="There is no data to display.">
                                                                    </ccGV:clsGridView>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                    </ContentTemplate>
                                                </asp:UpdatePanel>
                                            </td>
                                            <td>
                                            </td>
                                        </tr>
                                        <tr class="Bckgroundreport">
                                            <td colspan="3" style="height: 10px">
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
<%--<customToolkit:wuc_UpdateProgress ID="Wuc_UpdateProgress1" runat="server" />--%>
<%--                                                                        <Columns>
                                                                            <asp:BoundField DataField="SALESREP_NAME" HeaderText="Sales Rep." ReadOnly="True" SortExpression="SALESREP_NAME">
                                                                                <itemstyle horizontalalign="Left" />
                                                                            </asp:BoundField>
                                                                            <asp:BoundField DataField="DAY01U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY01R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY02U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY02R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY03U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY03R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY04U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY04R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY05U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY05R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY06U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY06R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY07U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY07R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY08U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY08R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY09U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY09R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY10U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY10R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY11U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY11R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY12U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY12R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY13U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY13R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY14U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY14R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY15U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY15R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY16U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY16R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY17U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY17R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY18U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY18R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY19U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY19R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY20U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY20R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY21U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY21R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY22U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY22R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY23U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY23R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY24U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY24R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY25U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY25R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY26U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY26R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY27U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY27R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY28U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY28R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY29U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY29R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY30U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY30R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY31U" HeaderText="U" ReadOnly="True" />
                                                                            <asp:BoundField DataField="DAY31R" HeaderText="R" ReadOnly="True" />
                                                                            <asp:BoundField DataField="TOTALU" HeaderText="U" ReadOnly="True">
                                                                                <itemstyle horizontalalign="Right" />
                                                                            </asp:BoundField>
                                                                            <asp:BoundField DataField="TOTALR" HeaderText="R" ReadOnly="True">
                                                                                <itemstyle horizontalalign="Right" />
                                                                            </asp:BoundField>
                                                                        </Columns>
--%>