<%@ Control Language="VB" AutoEventWireup="false" CodeFile="wuc_MaxNoHits.ascx.vb" Inherits="WebUserControl_wuc_MaxNoHits" %>
<%--<link href="~/include/DKSH.css" rel="stylesheet" />--%>
<asp:DropDownList ID="ddlNoRec" runat="server" CssClass="cls_dropdownlist">
   <asp:ListItem Value="0">-- ALL --</asp:ListItem>  
   <asp:ListItem Value="50" Selected="True">50</asp:ListItem> 
   <asp:ListItem Value="250">250</asp:ListItem> 
   <asp:ListItem Value="500">500</asp:ListItem> 
</asp:DropDownList>
