<%@ Control Language="VB" AutoEventWireup="false" CodeFile="PackagePrdPop.ascx.vb" Inherits="iFFMA_TradeDeal_PackagePrdPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_PrdSearch" Src="../Common/wuc_PrdSearch.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 500px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                                                        
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="PRD_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <RowStyle VerticalAlign="Middle" HorizontalAlign="Left" />
                        <Fields>
                            <asp:TemplateField HeaderText="Product Code">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrdCode" runat="server" Text='<%# Bind("PRD_CODE") %>' CssClass="cls_textbox" Enabled="false" MaxLength="50"/>
                                    <span class="cls_label_err" >*</span>
                                    <asp:Button ID="btnSearchPrd" runat="server" CssClass="cls_button" Text="Search" OnClick="btnSearchPrd_Click" />
                                    <asp:RequiredFieldValidator ID="rfvPrdCode" runat="server" ControlToValidate="txtPrdCode"
                                        ErrorMessage="Product Code is Required." ValidationGroup="SavePackagePrd"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="UOM">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlUOM" runat="server" CssClass="cls_dropdownlist"  AutoPostBack="true" 
                                      OnSelectedIndexChanged="ddlUom_SelectedIndexChanged"  />
                                    <span class="cls_label_mark">*</span>
                                    <asp:RequiredFieldValidator ID="rfvUOM" runat="server" ControlToValidate="ddlUOM"
                                        ErrorMessage="UOM is Required." ValidationGroup="SavePackagePrd"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblUOM" runat="server" Text='<%# Bind("UOM_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlUOM" runat="server" CssClass="cls_dropdownlist"  AutoPostBack="true"
                                    OnSelectedIndexChanged="ddlUom_SelectedIndexChanged" />
                                    <span class="cls_label_mark">*</span>
                                    <asp:RequiredFieldValidator ID="rfvUOM" runat="server" ControlToValidate="ddlUOM"
                                        ErrorMessage="UOM is Required." ValidationGroup="SavePackagePrd"
                                        Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Quantity">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtQty" runat="server" Text='<%# Bind("QTY") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revQty" runat="server" ControlToValidate="txtQty" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SavePackagePrd" ValidationExpression="^\d+$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblQty" runat="server" Text='<%# Bind("QTY") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtQty" runat="server" Text='<%# Bind("QTY") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revQty" runat="server" ControlToValidate="txtQty" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (Integer) value allowed!" ValidationGroup="SavePackagePrd" ValidationExpression="^\d+$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Must Purchase">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlMustInd" runat="server" CssClass="cls_dropdownlist" >
                                        <asp:ListItem Text="No" Value="N"></asp:ListItem>
                                        <asp:ListItem Text="Yes" Value="Y"></asp:ListItem>
                                    </asp:DropDownList>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblMustInd" runat="server" Text='<%# Bind("MUST_IND") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlMustInd" runat="server" CssClass="cls_dropdownlist" >
                                        <asp:ListItem Text="No" Value="N"></asp:ListItem>
                                        <asp:ListItem Text="Yes" Value="Y"></asp:ListItem>
                                    </asp:DropDownList>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Product Price">
                                <EditItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revPrice" runat="server" ControlToValidate="txtPrice" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SavePackagePrd" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:Label ID="lblPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span style="float:left; width:2%; padding-top: 2px;" class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtPrice" runat="server" Text='<%# Bind("PRD_LISTPRICE") %>' CssClass="cls_textbox" />
                                    <asp:RegularExpressionValidator ID="revPrice" runat="server" ControlToValidate="txtPrice" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="SavePackagePrd" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SavePackagePrd" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdPackageCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdPrdCode" runat="server" Value="" />
                     <asp:HiddenField ID="hdPackageType" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
        
        <span style="float:left; "><customToolkit:wuc_PrdSearch ID="wuc_PrdSearch" Title="Product Search" runat="server" /></span> 
        
    </ContentTemplate>
</asp:UpdatePanel>