<%@ Control Language="VB" AutoEventWireup="false" CodeFile="FieldForceCustBTCPop.ascx.vb" Inherits="iFFMA_Mapping_FieldForceCustBTCPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 350px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <span style="float:left; width:100%; "><customToolkit:wuc_lblInfo ID="lblInfo" runat="server" /></span> 
                    
                    <!-- Begin Customized Content -->
                    <span class="cls_label_header">Selected Call Day : </span>
                    <asp:Label ID="lblCallDay" runat="server" CssClass="cls_label" Text="" />
                    <br /><br />
                    
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="15%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="09:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime09" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_09") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime09" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_09") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="10:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime10" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_10") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime10" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_10") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="11:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime11" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_11") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime11" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_11") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="12:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime12" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_12") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime12" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_12") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="13:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime13" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_13") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime13" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_13") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="14:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime14" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_14") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime14" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_14") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="15:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime15" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_15") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime15" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_15") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="16:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime16" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_16") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime16" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_16") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="17:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime17" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_17") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime17" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_17") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="18:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime18" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_18") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime18" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_18") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="19:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime19" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_19") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime19" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_19") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="20:00">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime20" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_20") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTime20" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_20") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="AM">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimeAM" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_AM") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimeAM" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_AM") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="PM">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimePM" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_PM") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimePM" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_PM") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="W">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimeW" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_W") %>' />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:CheckBox ID="chkCallTimeW" runat="server" CssClass="cls_checkbox" Checked='<%# Bind("CALL_TIME_W") %>' Enabled="false" />
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>
                    
                    
                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    
                    <!-- End Customized Content -->
                    <asp:HiddenField ID="hdSalesrepCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdCustCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdContCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdType" runat="server" Value="" />
                    <%--<asp:HiddenField ID="hdCallDay" runat="server" Value="" />--%>
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>