<%@ Control Language="VB" AutoEventWireup="false" CodeFile="FieldForceCustRoutePop.ascx.vb" Inherits="iFFMA_Mapping_FieldForceCustRoutePop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 500px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <span style="float: left; width: 100%;">
                        <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    </span>
                    <!-- Begin Customized Content -->

                    <span style="float: left; width: 25%; padding-top: 5px;" class="cls_label_header">Salesrep Code</span>
                    <span style="float: left; width: 2%; padding-top: 2px;" class="cls_label_header">:</span>
                    <asp:Label ID="lblSalesrepCode" runat="server" CssClass="cls_label" />
                    <br />
                    <span style="float: left; width: 25%; padding-top: 2px;" class="cls_label_header">Customer Code</span>
                    <span style="float: left; width: 2%; padding-top: 2px;" class="cls_label_header">:</span>
                    <asp:Label ID="lblCustCode" runat="server" CssClass="cls_label" />
                    <br />
                    <span style="float: left; width: 25%; padding-top: 2px;" class="cls_label_header">Contact Code</span>
                    <span style="float: left; width: 2%; padding-top: 2px;" class="cls_label_header">:</span>
                    <asp:Label ID="lblContCode" runat="server" CssClass="cls_label" />
                    <br />
                    <br />

                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="25%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Visit Frequency">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtVisitFreq" runat="server" Text='<%# Bind("VISIT_FREQ") %>' CssClass="cls_textbox" MaxLength="20" />
                                    <asp:RegularExpressionValidator ID="rev_txtVisitFreq" runat="server" ControlToValidate="txtVisitFreq" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only (one decimal) value allowed!" ValidationGroup="SaveRoute" ValidationExpression="^[0-9]{1,5}(\.[0-9]{0,1})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblVisitFreq" runat="server" Text='<%# Bind("VISIT_FREQ") %>' CssClass="cls_label" />
                                </ItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <asp:DetailsView ID="DetailsView2" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="25%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="BCP Template">
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlBCPTemplate" runat="server" CssClass="cls_dropdownlist" Width="250px" />
                                </ItemTemplate>
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlBCPTemplate" runat="server" CssClass="cls_dropdownlist" Width="250px" />
                                </EditItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float: left; width: 100%;">
                        <span style="float: left; width: 45%; padding-top: 2px; padding-bottom: 2px;">
                            <span class="cls_label_header">Route</span><br />
                            <asp:ListBox ID="lsbRoute" CssClass="cls_listbox" runat="server" SelectionMode="Multiple" Height="150px" ForeColor="Black" Width="95%"></asp:ListBox>
                        </span>

                        <span style="float: left; width: 8%; padding-top: 30px; padding-bottom: 2px;">
                            <span style="float: left; padding-top: 15px;">
                                <asp:Button ID="lnkAddRoute" runat="server" CssClass="cls_button" Width="20px" Text=">" /></span>
                            <span style="float: left; padding-top: 3px;">
                                <asp:Button ID="lnkRemoveRoute" runat="server" CssClass="cls_button" Width="20px" Text="<" /></span>
                            <span style="float: left; padding-top: 3px;">
                                <asp:Button ID="lnkAddAllRoute" runat="server" CssClass="cls_button" Width="20px" Text=">>" /></span>
                            <span style="float: left; padding-top: 3px;">
                                <asp:Button ID="lnkRemoveAllRoute" runat="server" CssClass="cls_button" Width="20px" Text="<<" /></span>
                        </span>

                        <span style="float: left; width: 45%; padding-top: 2px; padding-bottom: 2px;">
                            <span class="cls_label_header">Selected </span>
                            <br />
                            <asp:ListBox ID="lsbSelected" CssClass="cls_listbox" runat="server" SelectionMode="Multiple" Height="150px" ForeColor="Black" Width="95%"></asp:ListBox>
                        </span>
                    </span>
                    <br />

                    <span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="SaveRoute" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>
