<%@ Control Language="VB" AutoEventWireup="false" CodeFile="TechnicianFuncLocPop.ascx.vb" Inherits="iFFMA_Mapping_TechnicianFuncLocPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 450px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:95%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:left; width:5%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="TECHNICIAN_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Top" HorizontalAlign="Left" CssClass="cls_label_header" Width="25%" Wrap="False" />
                        <RowStyle VerticalAlign="Top" />
                        <Fields>
                            <asp:TemplateField HeaderText="Technician">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblTechnician" runat="server" Text='<%# Bind("TECHNICIAN_NAME") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblTechnician" runat="server" Text='<%# Bind("TECHNICIAN_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:DropDownList ID="ddlTechnician" runat="server" CssClass="cls_dropdownlist" />
                                    <span class="cls_label_err" >*</span>
                                    <br /><asp:RequiredFieldValidator ID="rfvTechnician" runat="server" ControlToValidate="ddlTechnician"
                                        ErrorMessage="Technician is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Functional Location">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:DropDownList ID="ddlFuncLoc" runat="server" CssClass="cls_dropdownlist" Width="250px" />
                                    <span class="cls_label_err" >*</span>
                                    <br /><asp:RequiredFieldValidator ID="rfvFuncLoc" runat="server" ControlToValidate="ddlFuncLoc"
                                        ErrorMessage="Functional Location is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblFuncLoc" runat="server" Text='<%# Bind("FUNC_LOC_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:DropDownList ID="ddlFuncLoc" runat="server" CssClass="cls_dropdownlist" Width="250px" />
                                    <span class="cls_label_err" >*</span>
                                    <br /><asp:RequiredFieldValidator ID="rfvFuncLoc" runat="server" ControlToValidate="ddlFuncLoc"
                                        ErrorMessage="Functional Location is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Supervisor">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:DropDownList ID="ddlSupervisorInd" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="N" Selected="True" Text="No"></asp:ListItem>
                                        <asp:ListItem Value="Y" Text="Yes"></asp:ListItem>
                                    </asp:DropDownList>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblSupervisorInd" runat="server" Text='<%# Bind("SUPERVISOR_IND_DESC") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:DropDownList ID="ddlSupervisorInd" runat="server" CssClass="cls_dropdownlist">
                                        <asp:ListItem Value="N" Selected="True" Text="No"></asp:ListItem>
                                        <asp:ListItem Value="Y" Text="Yes"></asp:ListItem>
                                    </asp:DropDownList>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdTechnicianCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdFuncLocCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>