<%@ Control Language="VB" AutoEventWireup="false" CodeFile="SalesTgtPop.ascx.vb" Inherits="iFFMA_FieldForce_SalesTgtPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_PrdGrpSearch" Src="../Common/wuc_PrdGrpSearch.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 500px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="PRD_GRP_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="25%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Product Group Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblPrdGrpCode" runat="server" Text='<%# Bind("PRD_GRP_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblPrdGrpCode" runat="server" Text='<%# Bind("PRD_GRP_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtPrdGrpCode" runat="server" Text='<%# Bind("PRD_GRP_CODE") %>' CssClass="cls_textbox" Enabled="false" MaxLength="50"/>
                                    <span class="cls_label_err" >*</span>
                                    <asp:Button ID="btnSearchPrdGrp" runat="server" CssClass="cls_button" Text="Search" OnClick="btnSearchPrdGrp_Click" />
                                    <asp:RequiredFieldValidator ID="rfvPrdGrpCode" runat="server" ControlToValidate="txtPrdGrpCode"
                                        ErrorMessage="Product Group Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="January">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJanTgt" runat="server" Text='<%# Bind("JAN_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJanTgt" runat="server" ControlToValidate="txtJanTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblJanTgt" runat="server" Text='<%# Bind("JAN_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJanTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJanTgt" runat="server" ControlToValidate="txtJanTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="February">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtFebTgt" runat="server" Text='<%# Bind("FEB_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revFebTgt" runat="server" ControlToValidate="txtFebTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblFebTgt" runat="server" Text='<%# Bind("FEB_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtFebTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revFebTgt" runat="server" ControlToValidate="txtFebTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="March">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtMarTgt" runat="server" Text='<%# Bind("MAR_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revMarTgt" runat="server" ControlToValidate="txtMarTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblMarTgt" runat="server" Text='<%# Bind("MAR_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtMarTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revMarTgt" runat="server" ControlToValidate="txtMarTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="April">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAprTgt" runat="server" Text='<%# Bind("APR_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAprTgt" runat="server" ControlToValidate="txtAprTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblAprTgt" runat="server" Text='<%# Bind("APR_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAprTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAprTgt" runat="server" ControlToValidate="txtAprTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="May">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtMayTgt" runat="server" Text='<%# Bind("MAY_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revMayTgt" runat="server" ControlToValidate="txtMayTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblMayTgt" runat="server" Text='<%# Bind("MAY_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtMayTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revMayTgt" runat="server" ControlToValidate="txtMayTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="June">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJuneTgt" runat="server" Text='<%# Bind("JUNE_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJuneTgt" runat="server" ControlToValidate="txtJuneTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblJuneTgt" runat="server" Text='<%# Bind("JUNE_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJuneTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJuneTgt" runat="server" ControlToValidate="txtJuneTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="July">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJulyTgt" runat="server" Text='<%# Bind("JULY_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJulyTgt" runat="server" ControlToValidate="txtJulyTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblJulyTgt" runat="server" Text='<%# Bind("JULY_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtJulyTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revJulyTgt" runat="server" ControlToValidate="txtJulyTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="August">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAugTgt" runat="server" Text='<%# Bind("AUG_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAugTgt" runat="server" ControlToValidate="txtAugTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblAugTgt" runat="server" Text='<%# Bind("AUG_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtAugTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revAugTgt" runat="server" ControlToValidate="txtAugTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="September">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtSeptTgt" runat="server" Text='<%# Bind("SEPT_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revSeptTgt" runat="server" ControlToValidate="txtSeptTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblSeptTgt" runat="server" Text='<%# Bind("SEPT_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtSeptTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revSeptTgt" runat="server" ControlToValidate="txtSeptTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="October">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtOctTgt" runat="server" Text='<%# Bind("OCT_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revOctTgt" runat="server" ControlToValidate="txtOctTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblOctTgt" runat="server" Text='<%# Bind("OCT_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtOctTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revOctTgt" runat="server" ControlToValidate="txtOctTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="November">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtNovTgt" runat="server" Text='<%# Bind("NOV_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revNovTgt" runat="server" ControlToValidate="txtNovTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblNovTgt" runat="server" Text='<%# Bind("NOV_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtNovTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revNovTgt" runat="server" ControlToValidate="txtNovTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="December">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtDecTgt" runat="server" Text='<%# Bind("DEC_TGT") %>' CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revDecTgt" runat="server" ControlToValidate="txtDecTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblDecTgt" runat="server" Text='<%# Bind("DEC_TGT") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtDecTgt" runat="server" Text="0.00" CssClass="cls_textbox" MaxLength="10"/>
                                    <asp:RegularExpressionValidator ID="revDecTgt" runat="server" ControlToValidate="txtDecTgt" CssClass="cls_label_err"
                                        ErrorMessage="Invalid, only number with decimal value allowed!" ValidationGroup="Save" ValidationExpression="^\d*(.\d{1,2})?$" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdSalesrepCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdPrdGrpCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdYear" runat="server" Value="" />
                    
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
            
        <span style="float:left; "><customToolkit:wuc_PrdGrpSearch ID="wuc_PrdGrpSearch" Title="Product Group Search" runat="server" /></span> 
        
    </ContentTemplate>
</asp:UpdatePanel>