﻿<%@ Control Language="VB" AutoEventWireup="false" CodeFile="LeadPop.ascx.vb" Inherits="iFFMA_Others_LeadPop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD; border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px; text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float: left; width: 92%; padding-top: 5px; padding-bottom: 5px;">
                                <asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float: right; width: 8%; padding-top: 2px; padding-bottom: 1px;">
                                <asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />

                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%"
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="TEAM_CODE"
                        AutoGenerateDeleteButton="False"
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging">
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Team Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblTeamCode" runat="server" Text='<%# Bind("TEAM_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblTeamCode" runat="server" Text='<%# Bind("TEAM_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlTeamCode" runat="server" CssClass="cls_dropdownlist" Width="100px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvTeamCode" runat="server" ControlToValidate="ddlTeamCode"
                                        ErrorMessage="Team Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Question Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesCode" runat="server" Text='<%# Bind("QUES_CODE")%>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesCode" runat="server" Text='<%# Bind("QUES_CODE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesCode" runat="server" Text="[Auto Generate]" Font-Italic="true" CssClass="cls_label"></asp:Label>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Question Label">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtQuesLabel" runat="server" Text='<%# Bind("QUES_LABEL")%>' CssClass="cls_textbox" MaxLength="250" Width="200px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesLabel" runat="server" ControlToValidate="txtQuesLabel"
                                        ErrorMessage="Question Label is required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesLabel" runat="server" Text='<%# Bind("QUES_LABEL")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtQuesLabel" runat="server" Text='<%# Bind("QUES_LABEL")%>' CssClass="cls_label" MaxLength="250" Width="200px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesLabel" runat="server" ControlToValidate="txtQuesLabel"
                                        ErrorMessage="Question Label is required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Question Sequence">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtQuesSeq" runat="server" Text='<%# Bind("QUES_SEQ")%>' CssClass="cls_textbox" Width="100px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesSeq" runat="server" ControlToValidate="txtQuesSeq"
                                        ErrorMessage="Question Sequence is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesSeq" runat="server" Text='<%# Bind("QUES_SEQ")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtQuesSeq" runat="server" Text='<%# Bind("QUES_SEQ")%>' CssClass="cls_textbox" Width="100px" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesSeq" runat="server" ControlToValidate="txtQuesSeq"
                                        ErrorMessage="Question Sequence is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Question Type">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlQuesType" runat="server" CssClass="cls_dropdownlist" AutoPostBack="true" OnSelectedIndexChanged="ddlQuesType_SelectedIndexChanged" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesType" runat="server" ControlToValidate="ddlQuesType"
                                        ErrorMessage="Question Type is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblQuesType" runat="server" Text='<%# Bind("QUES_TYPE")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:DropDownList ID="ddlQuesType" runat="server" CssClass="cls_dropdownlist" AutoPostBack="true" OnSelectedIndexChanged="ddlQuesType_SelectedIndexChanged" />
                                    <span class="cls_label_err">*</span>
                                    <asp:RequiredFieldValidator ID="rfvQuesType" runat="server" ControlToValidate="ddlQuesType"
                                        ErrorMessage="Question Type is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Options">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtOptions" runat="server" CssClass="cls_textbox" Width="100px" Height="100px" TextMode="MultiLine" MaxLength="250" Visible="false"/>
                                    <span class="cls_label_err">*</span>
                                    <asp:Label ID="lblOpt" runat="server" Text="**Press [Enter] only once for next option." CssClass ="cls_label_header" Visible ="false" />
                                    <%--<span class="cls_label_header">**Press [Enter] only once for next option.</span>--%>
                                    <asp:RequiredFieldValidator ID="rfvOptions" runat="server" ControlToValidate="txtOptions"
                                        ErrorMessage="Options are Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" Visible="false"></asp:RequiredFieldValidator>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblOptions" runat="server" Text='<%# Bind("OPTIONS")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtOptions" runat="server" CssClass="cls_textbox" Width="100px" Height="100px" TextMode="MultiLine" MaxLength="250" Visible="false"/>
                                    <%--<span class="cls_label_err">*</span>--%>
                                    <asp:Label ID="lblOpt" runat="server" Text="**Press [Enter] only once for next option." CssClass ="cls_label_header" Visible ="false" />
                                    <%--<span class="cls_label_header">**Press [Enter] only once for next option.</span>--%>
                                    <asp:RequiredFieldValidator ID="rfvOptions" runat="server" ControlToValidate="txtOptions"
                                        ErrorMessage="*Options are Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator" Visible="false"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Required?">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:CheckBox ID="chkRequired" Checked='<%#Eval("REQUIRED") %>' runat="server" CssClass="cls_checkbox" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:CheckBox ID="lblRequired" Checked='<%#Eval("REQUIRED") %>' runat="server" CssClass="cls_label" Enabled="false" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:CheckBox ID="chkRequired" runat="server" CssClass="cls_checkbox" />
                                </InsertItemTemplate>
                            </asp:TemplateField>

                            <asp:TemplateField HeaderText="Contact Indicator">
                                <EditItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtContInd" runat="server" Text='<%# Bind("CONT_IND")%>' CssClass="cls_textbox" Width="100px" />
                                    <span class="cls_label_header">Please key-in ' * '.</span>
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:Label ID="lblContInd" runat="server" Text='<%# Bind("CONT_IND")%>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header">:</span>
                                    <asp:TextBox ID="txtContInd" runat="server" Text='<%# Bind("CONT_IND")%>' CssClass="cls_textbox" Width="100px" />
                                    <span class="cls_label_header">Please key-in ' * '.</span>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <span style="float: left; width: 100%; padding-top: 10px; padding-bottom: 10px">
                        <center>
                        <asp:Panel ID="pnlEditMode" runat="server">
                            <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                            <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                        </asp:Panel>
                        <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                            <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                        </asp:Panel>
                        </center>
                    </span>
                    <!-- End Customized Content -->

                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdQuesCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server"
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden"
            CancelControlID="imgClose"
            PopupControlID="pnlMsgPop"
            BackgroundCssClass="modalBackground"
            DropShadow="True"
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>
