<%@ Control Language="VB" AutoEventWireup="false" CodeFile="RoutePop.ascx.vb" Inherits="iFFMA_Others_RoutePop" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_lblInfo" Src="~/include/wuc_lblInfo.ascx" %>
<%@ Register TagPrefix="customToolkit" TagName="wuc_txtDate" Src="~/include/wuc_txtDate.ascx" %>

<asp:UpdatePanel ID="updPnlMaintenance" runat="server" UpdateMode="Conditional" RenderMode="Inline">
    <ContentTemplate>
        <asp:Button runat="server" ID="btnHidden" Style="display: none" />
        <asp:Panel ID="pnlMsgPop" runat="server" Style="display: none; width: 600px; padding: 15px" CssClass="modalPopup">
            <asp:Panel ID="pnlMsgPopDragZone" runat="server" Style="background-color: #DDDDDD;
                border: solid 1px Gray; color: Black; width: 98%; padding-left: 10px; padding-bottom: 5px;
                text-align: center">
                <table width="100%">
                    <tr>
                        <td>
                            <span style="float:left; width:92%; padding-top: 5px; padding-bottom: 5px;"><asp:Label ID="lblTitle" runat="server" CssClass="cls_label_header" Text="" /></span>
                            <span style="float:right; width:8%; padding-top: 2px; padding-bottom: 1px;"><asp:ImageButton ID="imgClose" ImageUrl="~/images/ico_close.gif" runat="server" CssClass="cls_button" /></span>
                        </td>
                    </tr>
                </table>
            </asp:Panel>
            <div id="lblPopNotify_pnlMsgPopContentZone" style="padding-top: 5px; width: 98%">
                <fieldset style="padding-left: 10px; width: 100%">
                    <asp:Label ID="lblContent" runat="server" CssClass="cls_label_header" Text="" />
                    <customToolkit:wuc_lblInfo ID="lblInfo" runat="server" />
                    
                    <!-- Begin Customized Content -->
                    <asp:DetailsView ID="DetailsView1" runat="server" AutoGenerateRows="False" Width="100%" 
                        BorderStyle="None" BorderWidth="0px" CellPadding="2" CellSpacing="1"
                        DataKeyNames="ROUTE_CODE" 
                        AutoGenerateDeleteButton="False" 
                        AutoGenerateEditButton="False"
                        AutoGenerateInsertButton="False"
                        OnModeChanging="DetailsView1_ModeChanging" 
                        >
                        <FieldHeaderStyle VerticalAlign="Middle" HorizontalAlign="Left" CssClass="cls_label_header" Width="30%" Wrap="False" />
                        <Fields>
                            <asp:TemplateField HeaderText="Route Code">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblRouteCode" runat="server" Text='<%# Bind("ROUTE_CODE") %>' CssClass="cls_label" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblRouteCode" runat="server" Text='<%# Bind("ROUTE_CODE") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtRouteCode" runat="server" Text='<%# Bind("ROUTE_CODE") %>' CssClass="cls_textbox" MaxLength="50"/>
                                    <span class="cls_label_err" >*</span>
                                    <asp:RequiredFieldValidator ID="rfvRouteCode" runat="server" ControlToValidate="txtRouteCode"
                                        ErrorMessage="Route Code is Required." ValidationGroup="Save" Display="Dynamic" CssClass="cls_validator"></asp:RequiredFieldValidator>
                                </InsertItemTemplate>
                            </asp:TemplateField>
                            <asp:TemplateField HeaderText="Route Name">
                                <EditItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtRouteName" runat="server" Text='<%# Bind("ROUTE_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </EditItemTemplate>
                                <ItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:Label ID="lblRouteName" runat="server" Text='<%# Bind("ROUTE_NAME") %>' CssClass="cls_label" />
                                </ItemTemplate>
                                <InsertItemTemplate>
                                    <span class="cls_label_header" >:</span>
                                    <asp:TextBox ID="txtRouteName" runat="server" Text='<%# Bind("ROUTE_NAME") %>' CssClass="cls_textbox" MaxLength="100" Width="200px" />
                                </InsertItemTemplate>
                            </asp:TemplateField>
                        </Fields>
                    </asp:DetailsView>

                    <asp:Panel ID="pnlEditMode" runat="server">
                        <span style="float:left; width:30%; padding-left:2px; padding-top:3px;" class="cls_label_header">Date</span>
                        <span style="float:left; padding-left:2px; padding-top:3px;" class="cls_label_header">:</span>
                        <customToolkit:wuc_txtDate
                                ID="txtDate" 
                                runat="server" 
                                RequiredValidation="true"
                                RequiredValidationGroup="Save"
                                DateTimeFormatString="yyyy-MM-dd"/>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <asp:Button ID="btnSave" runat="server" CssClass="cls_button" Text="Save" ValidationGroup="Save" />
                                <%--<asp:Button ID="btnCancel" runat="server" CssClass="cls_button" Text="Cancel" />--%>
                            </center>
                        </span>
                    </asp:Panel>
                                                
                    <asp:Panel ID="pnlViewMode" runat="server" Visible="false">
                        <span style="float:left; width:30%; padding-left:2px; padding-top:3px;" class="cls_label_header">Date</span>
                        <span style="float:left; padding-left:2px; padding-top:3px;" class="cls_label_header">:</span>
                        <span style="float:left; width:30%; padding-left:2; padding-top:3px;"><asp:Label ID="lblDate" runat="server" CssClass="cls_label" /></span>
                        
                        <span style="float:left; width:100%; padding-top:10px; padding-bottom:10px">
                            <center>
                                <%--<asp:Button ID="btnClose" runat="server" CssClass="cls_button" Text="Close" />--%>
                            </center>
                        </span>
                    </asp:Panel>
                    
                    <!-- End Customized Content -->
                    
                    <asp:HiddenField ID="hdTeamCode" runat="server" Value="" />
                    <asp:HiddenField ID="hdRouteCode" runat="server" Value="" />
                </fieldset>
            </div>
        </asp:Panel>
        <ajaxToolkit:ModalPopupExtender ID="ModalPopupMaintenance" runat="server" 
            BehaviorID="ModalPopupMaintenanceBehavior"
            TargetControlID="btnHidden" 
            PopupControlID="pnlMsgPop" 
            BackgroundCssClass="modalBackground"
            DropShadow="True" 
            RepositionMode="RepositionOnWindowResizeAndScroll" />
    </ContentTemplate>
</asp:UpdatePanel>