<%@ Page Language="vb" AutoEventWireup="false" CodeFile="ConnectionStringList.aspx.vb" Inherits="Admin_ConnectionString_ConnectionStringList" %>
<%@ Register Src="../../include/wuc_lblHeader.ascx" TagName="wuc_lblHeader" TagPrefix="uc1" %>
<%@ Register TagPrefix="uc1" TagName="wuc_dgpaging" Src="~/include/wuc_dgpaging.ascx" %>
<%@ Register TagPrefix="ccGV" Namespace="cor_CustomCtrl" Assembly="cor_CustomCtrl" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>Comm Server Setting Listing</title>
     <link rel="stylesheet" href='~/include/DKSH.css' />
</head>
 
<body class="BckgroundInsideContentLayout">
    <form id="frmConnectionStringList" runat="server">
    <div>
        <TABLE id="tbl1" cellSpacing="0" cellPadding="0" width="98%" border="0">
		   <%-- <tr><td colspan="3"><uc1:wuc_lblHeader ID="Wuc_lblHeader" runat="server" /></td></tr>--%>
			<tr><td>&nbsp;</td></tr>
			<tr><td><asp:Label ID="lblErr" runat="server" CssClass="cls_label_err"></asp:Label></td></tr>
			<tr>			    
                <td class="BckgroundInsideContentLayout">
                    <table border="0" cellpadding="0" cellspacing="0" width="98%" align="center" class="Bckgroundreport">
                        <tr>
                            <%--<td width="16"><img src="<%=ConfigurationManager.AppSettings("ServerName")%>/images/RptTopindicator.gif" border="0"/></td>--%>
                            <td colspan="3">
                                <uc1:wuc_lblheader ID="wuc_lblheader" runat="server"></uc1:wuc_lblheader>
                            </td>
                            <%--<td width="9"><img src="<%=ConfigurationManager.AppSettings("ServerName")%>/images/RptTopEnd.gif" border="0"/></td>--%>
                        </tr>
                        <tr><td class="BckgroundBenealthTitle" colspan="3" height="5"></td></tr>
                        <tr class="Bckgroundreport"><td colspan="3"></td>
                        </tr>
                        <tr>
                            <td>
                            </td>
                            <td valign="top" class="Bckgroundreport">
                                <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tr class="Bckgroundreport">
                                        <td>&nbsp;</td>                                                   
                                    </tr>
				                    <TR>
					                    <TD width="20%"><asp:label ID="lblSearch" Runat="server" CssClass="cls_label_header">Search By</asp:label></TD>
					                    <TD width="2%"><asp:label ID="lblDot1" Runat="server" CssClass="cls_label_header">:</asp:label></TD>
					                    <td style="width: 529px"><asp:dropdownlist id="ddlSearchType" runat="server" CssClass="cls_dropdownlist" AutoPostBack="True">
							                    <asp:ListItem Value="all">All</asp:ListItem>
							                    <asp:ListItem Value="comm_svr_setting_code">Comm Server Setting Code</asp:ListItem>
							                    <asp:ListItem Value="comm_svr_setting_name">Comm Server Setting Name</asp:ListItem>
							                    <asp:ListItem Value="status">Status</asp:ListItem>
						                    </asp:dropdownlist></td>
				                    </TR>
				                    <tr>
					                    <TD><asp:label id="lblSearchValue" runat="server" CssClass="cls_label_header"></asp:label></TD>
					                    <TD><asp:label id="lblDot" runat="server" CssClass="cls_label_header">:</asp:label></TD>
					                    <td style="width: 529px">
						                    <asp:textbox id="txtSearchValue" runat="server" CssClass="cls_textbox"></asp:textbox>
						                    <%--<asp:linkbutton id="lbDate1" Runat="server">Date</asp:linkbutton>--%>
						                    <asp:label id="lblTo" runat="server" CssClass="cls_label_header">To</asp:label>
						                    <asp:textbox id="txtSearchValue1" runat="server" CssClass="cls_textbox"></asp:textbox>
						                    <%--<asp:linkbutton id="lbDate2" Runat="server">Date</asp:linkbutton>--%>
						                    <asp:dropdownlist id="ddlList" runat="server" CssClass="cls_dropdownlist"></asp:dropdownlist>
						                    <asp:button id="btnSearch" runat="server" Text="Search" CssClass="cls_button"></asp:button>
					                    </td>
				                    </tr>
				                    <tr class="Bckgroundreport">                                        
                                        <td colspan="3">&nbsp;</td>                                                                                                                         
                                    </tr>                                   
                                    <tr>                                      
                                        <td class="Bckgroundreport" colspan="3">
                                            <uc1:wuc_dgpaging ID="wuc_dgpaging" runat="server" ></uc1:wuc_dgpaging>
				                            <ccGV:clsGridView ID="dgList" runat="server"
                                                AutoGenerateColumns="False" Width="98%" FreezeHeader="True" GridHeight="300px"
                                                AddEmptyHeaders="0" CellPadding="2" CssClass="Grid" EmptyHeaderClass="" FreezeColumns="0"
                                                FreezeRows="0" GridWidth="" AllowPaging="True" PagerSettings-Visible="false" DataKeyNames="comm_svr_setting_id" RowHighlightColor="AntiqueWhite">
                                                <Columns>
                                                    <asp:BoundField DataField="comm_svr_setting_id" HeaderText="Setting ID" SortExpression="comm_svr_setting_id" >
                                                        <itemstyle horizontalalign="Center" />
                                                    </asp:BoundField>
                                                    <asp:BoundField DataField="active_flag" HeaderText="Status" ReadOnly="True"
                                                        SortExpression="active_flag" >
                                                        <itemstyle horizontalalign="Center" />
                                                    </asp:BoundField>
                                                    <asp:TemplateField HeaderText="Status" SortExpression="active_flag" Visible="False">
                                                        <itemstyle horizontalalign="Center" />
                                                        <itemtemplate>
<asp:Label id="lblStatus" runat="server"></asp:Label> 
</itemtemplate>
                                                    </asp:TemplateField>                                              
                                                    <asp:ButtonField CommandName="Details" DatatextField="comm_svr_setting_code" HeaderText="Setting Code" SortExpression="comm_svr_setting_code">
                                                       <itemstyle horizontalalign="Center" />
                                                    </asp:ButtonField>                                                                                                                                                       
                                                    <asp:BoundField DataField="comm_svr_setting_name" HeaderText="Setting Name" ReadOnly="True" SortExpression="comm_svr_setting_name">
                                                        <itemstyle horizontalalign="Center" />
                                                    </asp:BoundField>                                                    
                                                    <asp:ButtonField CommandName="Delete" AccessibleHeaderText="Delete" ImageUrl="~/images/ico_Delete.gif" ButtonType="Image"/>                                                                                                                                                      
											        <asp:ButtonField CommandName="Edit" AccessibleHeaderText="Edit" ImageUrl="~/images/ico_Edit.gif" ButtonType="Image"/>                                                                                                                                                      
                                                </Columns>                                               
                                                
                                                <HeaderStyle CssClass="GridHeader" />
                                                <PagerSettings Visible="False" />
                                                <AlternatingRowStyle CssClass="GridAlternate" />
                                                <RowStyle CssClass="GridNormal" />
                                                <FooterStyle CssClass="GridFooter" />
                                            </ccGV:clsGridView>
                                           <%-- <asp:BoundField DataField="salesrep_code" HeaderText="Sales Rep" ReadOnly="True" SortExpression="salesrep_code">
                                                <itemstyle horizontalalign="Center" />
                                            </asp:BoundField>--%>
					                    </TD>
				                    </TR>      
				                    <TR>
					                    <TD colSpan="3">&nbsp;</TD>
				                    </TR>                   
                                    <%--<tr>
                                        <td>&nbsp;&nbsp;&nbsp;</td>
                                        <td class="Bckgroundreport"></td>
                                    </tr>--%>
                                    <tr class="Bckgroundreport">
                                        <td align="right" colspan="3">
                                            <asp:button id="btnCreate" runat="server" Text="Create" CssClass="cls_button" CausesValidation="False"></asp:button>&nbsp;                        					
                                            <asp:button id="btnClose" runat="server" Text="Close" CssClass="cls_button" CausesValidation="False" visible="false"></asp:button>&nbsp;                        					
                                        </td>
                                    </tr>
                                </table>
                            </td>                            
                        </tr>    
                        <tr class="Bckgroundreport"><td colspan="3">&nbsp;</td></tr>                    
		</TABLE>                       
                    </table> 
			<tr><td>&nbsp;</td></tr>			
    </div>
    </form>
</body>
</html>
<%'List function called by in-line scripts%>	
