﻿BODY 
{ 	
  margin-top: 0%; 
  margin-bottom: 0%; 
  margin-left: 0%; 
  margin-right: 0%;
}
.PagePadder
{
	padding: 5px 0px 0px 5px;	
}
.bckgroundTitleBar
{
    background-color:#C9D1F9; border-bottom: solid 1px #b9b8b8; width:100%; padding:2px 0px 5px 5px; text-align:left;
}
.BckgroundmenuL2
{
    background-color:#d4d4d4;
}
.BckgroundFront
{  
    background-image:url(../images/bcklogin.gif);
    background-repeat:repeat;
}
.BckgroundInsideContentLayout
{
    background-color:#DDDDDD;
    width: 100%;
    vertical-align:top;
}
.BgNondisplytable
{
    border-width:0;
    padding:0;
    border-spacing:0;
    width:100%;
}    
.BgFieldset
{
    width:98%;
}
.BckgroundInside
{   background-COLOR: #999999;
}
.Bckgroundline
{
    background-color:#CCCCCC;
}
.BckgroundBenealthTitle
{
     background-color:#e7e7e7;
}
.BckgroundReportMainTitle
{
     background-color:#CCCED0;
}
.Bckgroundreport
{
    background-color:#EEEEEE;
    border-width:0;
    padding:0;
    border-spacing:0;
    width:100%;

}.Bckgroundreport2
{
    background-color:#EEEEEE;
    bottom:0;
}
.BckgroundMainLayout
{
    background-color:#dbdbdb;
}
.BckgroundLineReportTitle
{
    background-color:#B2B9BD;
}
/*Toolbar Left */
.BckgroundToolBarLeft
{
	background-color:#BBBBBB;
}

/*Content Layout Left Right*/
/* Background Inside Image*/
.BckgroundInsideImage
{
	background-attachment : scroll;	
	background-image : url(../images/insideMiddle.gif);
}

.BckgroundReportTop
{
	background-attachment : scroll;	
	background-image : url(../images/RptTopHead.gif);
	background-repeat:repeat; 
}
.cntfooter
{	
    FONT-SIZE: 8pt;
    COLOR: black; 
    /*FONT-FAMILY: Verdana, Arial, Times New Roman;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Verdana, Arial, Times New Roman;
}
.cls_title
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 10pt;
    COLOR: black;   
    TEXT-DECORATION : none;
    /*FONT-FAMILY: Arial,Tahoma, Verdana; */
    FONT-FAMILY: "Frutiger LT 45 Light", Arial,Tahoma, Verdana;
}

.cls_label
{
    FONT-WEIGHT: normal;
    FONT-SIZE:8pt;
    COLOR: Black;   
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}

.cls_radiobuttonlist
{
    FONT-WEIGHT: normal;
    FONT-SIZE:8pt;
    COLOR: Black;   
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}

.cls_label_err
{
    FONT-WEIGHT: normal;
    FONT-SIZE:x-small;
    COLOR: red;   
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}
.cls_label_header
{
    FONT-WEIGHT: bold;
    FONT-SIZE:8pt;
    COLOR: Black;    
    /*FONT-FAMILY:  Tahoma,Verdana, Arial;*/
    FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma,Verdana, Arial;
}

.cls_textbox
{
    border:solid 1px #666666;
    
    FONT-SIZE: x-small;
    /*FONT-FAMILY: Verdana, Tahoma, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Verdana, Tahoma, Arial;
    COLOR: #666666;
    
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
}

.cls_button
{
    border:solid 1px #666666;
    CURSOR: pointer;
    /*font:normal normal normal x-small Tahoma, Verdana, Arial;*/
    font:normal normal normal x-small "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    COLOR: Black;   
}
.cls_dropdownlist
{    
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    FONT-STYLE: normal;
    /*FONT-FAMILY:Verdana, Tahoma, Arial;*/
    FONT-FAMILY:"Frutiger LT 45 Light", Verdana, Tahoma, Arial;
    COLOR: #666666;
    
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;   
}

.cls_listbox
{    
    BACKGROUND-COLOR: #ffffff;
    TEXT-ALIGN: left;
    WIDTH: 180px; HEIGHT: 130px;
    /*font: normal normal normal xx-small Verdana, Tahoma, Arial;*/
    font: normal normal normal xx-small "Frutiger LT 45 Light", Verdana, Tahoma, Arial;
    COLOR: black;
}
.cls_checkbox
{ 
	BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE:  xx-small;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    /*FONT-FAMILY: verdana,geneva,arial,helevtica,sans-serif;*/
    FONT-FAMILY: "Frutiger LT 45 Light", verdana,geneva,arial,helevtica,sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left	
}

.cls_radiobutton
{ 
	BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-WEIGHT: normal;
    FONT-SIZE:  xx-small;
    BORDER-LEFT: medium none;
    COLOR: black;
    BORDER-BOTTOM: medium none;
    FONT-STYLE: normal;
    /*FONT-FAMILY: verdana,geneva,arial,helevtica,sans-serif;*/
    FONT-FAMILY: "Frutiger LT 45 Light", verdana,geneva,arial,helevtica,sans-serif;
    BACKGROUND-COLOR: transparent;
    TEXT-ALIGN: left;
}

.cls_table_header
{
    BORDER-RIGHT: black thin double;
    PADDING-RIGHT: 1pt;
    BORDER-TOP: black 1pt double;
    PADDING-LEFT: 1pt;
    FONT-WEIGHT: bolder;
    FONT-SIZE: xx-small;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: black thin double;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: black thin double;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #f7faff;
    border-color: Black;
    Border-Style: solid;
}
.cls_table
{		
	
	border-color: Black;
	Border-Style: solid;
	Border-Width: 1pt;      
	FONT-SIZE: xx-small;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: white;
}
.cls_table_item
{	
	border-color: Black;
    Border-Style: solid;
    
    FONT-SIZE: xx-small;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    BACKGROUND-COLOR :White;
    COLOR: black;
    FONT-WEIGHT: normal;
}
.cls_table_alternating_item
{
	border-color: Black;
    Border-Style: solid;
    
    FONT-SIZE: xx-small;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #f7faff;
    FONT-WEIGHT: normal;
}

.cls_table_selected_item
{
	border-color: Black;
    Border-Style: solid;
    
    FONT-SIZE: xx-small;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: Yellow;
    FONT-WEIGHT: normal;
}

.cls_table_selecteditem
{
	COLOR : #CCFF99;
	BACKGROUND-COLOR : #009999;
}

.cls_table_page
{
	VERTICAL-ALIGN : top;
	TEXT-ALIGN : left;
	color : #003399;
	BACKGROUND-COLOR : #d9e5f1;
}

.cls_table_footer
{
	color : #003399;
	BACKGROUND-COLOR : #99CCCC;
}

.cls_table_tooltip
{
	VISIBILITY: hidden;
	POSITION: absolute;
	TOP: 0px;
	LEFT: 0px;
	WIDTH: 150px;
	BORDER-TOP: black 1px solid;
	BORDER-RIGHT: black 1px solid;
	BORDER-BOTTOM: black 1px solid;
	BORDER-LEFT: black 1px solid;
	PADDING-RIGHT: 4px;
	PADDING-LEFT: 4px;
	PADDING-BOTTOM: 4px;
	PADDING-TOP: 4px;
	Z-INDEX: 200;
	BACKGROUND-COLOR:#ff3316;
	/*FONT: 10pt bold arial,sans-serif;*/
	FONT: 10pt bold "Frutiger LT 45 Light", arial,sans-serif;
	COLOR:white;
 }		
 
.cls_body_text
{
    FONT-SIZE: 9pt;
    COLOR: black;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
    FONT-WEIGHT: normal;
}

.cls_link_menu
{
	BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    TEXT-DECORATION : none;
    FONT-SIZE: 10pt;
    BORDER-LEFT: thin;
    COLOR: #006699;
    BORDER-BOTTOM: thin;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_link
{
	BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    TEXT-DECORATION : none;
    FONT-SIZE: 9pt;
    BORDER-LEFT: thin;
    COLOR: #006699;
    BORDER-BOTTOM: thin;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_image_Close
{
    cursor:pointer;
}

A:link, A:visited
{
	BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    TEXT-DECORATION : none;
   /* font-size: 10pt; */
   font-size:small;
    BORDER-LEFT: thin;
    COLOR: #006699;
    BORDER-BOTTOM: thin;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}
.cls_rowcolor
{
    FONT-SIZE: 8pt;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #e6e6fa;
}

.cls_calendar_bgcolor
{
    BACKGROUND-COLOR: #dcdcdc;
}
.cls_calendar_grid
{
    BACKGROUND-COLOR: #dcdcdc;
}
.cls_calendar_weekday
{
    TEXT-TRANSFORM: capitalize;
    COLOR: black;
    FONT-FAMILY: System;
    TEXT-ALIGN: center;
}
.cls_panel_header
{
	background-color: #dFdFdF;
	/*BACKGROUND-COLOR: #f0ffff;
	background-image:url(../images/bgPanel.gif);*/
	BORDER-STYLE :none;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #0099FF 1px solid;
    BORDER-TOP: #0099FF 1px solid;
    BORDER-BOTTOM: #0099FF 1px solid;
    BORDER-LEFT: #0099FF 1px solid;
}

.cls_ctrl_panel
{
    width:100%;
    height:0px;
    overflow:hidden;
}

.cls_panel
{
	BACKGROUND-COLOR: #dCdCdC; /*#f0ffff;*/
	BORDER-STYLE :none;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #0099FF 1px solid;
    BORDER-BOTTOM: #0099FF 1px solid;
    BORDER-LEFT: #0099FF 1px solid;
}

.cls_CatalogRow
{
    FONT-SIZE: 8pt;
    COLOR: red;
    FONT-FAMILY: Tahoma, Verdana, Arial;
}

.cls_CatalogRowInactive
{
    FONT-SIZE: 8pt;
    COLOR: gray;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_mandatory
{
    LIST-STYLE-POSITION: inside;
    COLOR: red;
    FONT-FAMILY: Verdana;
    font-size:xx-small;
    font-weight:bold;
}

.cls_image_noborder
{
    BORDER-COLOR: Black;
    BORDER-STYLE: solid; 
    border-width: thin; 
}

.cls_image_yesborder
{
    BORDER-STYLE: none;  
}

.cls_readonly
{
    BACKGROUND-COLOR: #dcdcdc;
}

.cls_actTitle
{
    FONT-WEIGHT: bolder;
    FONT-SIZE: 10pt;
    COLOR: black;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_validator
{
    FONT-WEIGHT: bold;
    FONT-SIZE: xx-small;
    COLOR: red;   
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_label_mark
{
    FONT-WEIGHT: normal;
    FONT-SIZE: xx-small;
    COLOR: red;   
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_label_validation { color: red; font-size: 12px; font-weight: bold; }

.cls_calendar_button
{
	BORDER-STYLE : solid;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BORDER-BOTTOM: #666666 1px solid;
    cursor: pointer;
    
    FONT-WEIGHT: normal;
    FONT-SIZE: x-small;
    COLOR: Black;   
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}
.cls_table_pager
{ 
	BACKGROUND-COLOR: #f7faff;   
	BORDER-STYLE :none;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #666666 1px solid;
    BORDER-TOP: #666666 1px solid;
    BORDER-LEFT: #666666 1px solid;
    width:98%;
}  

.cls_table_PageRecordNo
{
	BACKGROUND-COLOR: #f7faff;   
    BORDER-BOTTOM: #666666 1px solid;
	
}  

.cls_tab_link
{
	BORDER-RIGHT: thin;
    BORDER-TOP: thin;
    TEXT-DECORATION : none;
    FONT-SIZE: xx-small;
    BORDER-LEFT: thin;
    COLOR: #006699;
    BORDER-BOTTOM: thin;
    /*FONT-FAMILY: Tahoma, Verdana, Arial;*/
    FONT-FAMILY: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
}

.cls_tab_link_visited
{
    COLOR: gray;
    FONT-WEIGHT: bolder;
}

.cls_bgcolor
{
	background-color:#999999;
}


/*Font*/
.ContentLogin
{
	color:#b9b5b6;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 8pt;
	font-weight : bold;

}
.ContentNormal
{
	color:#555555;
	/*font-family : Verdana,Arial,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Verdana,Arial,TimesNewRoman;
	font-size : 8pt;
	font-weight : normal;
	font-weight:bold;
	text-align:left
}
.ContentReport
{
	color:#333333;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 9pt;
	font-weight : normal;

}
.ContentReportTitle
{
	color:#000000;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 10pt;
	font-weight : bold;

}
.ContentXLight
{
	color:#696969;
	/*font-family : Verdana,Arial,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Verdana,Arial,TimesNewRoman;
	font-size : 8pt;
	font-weight : bold;

}
.Greeting
{
	color:#5182C4;
	/*font-family : arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", arial,Verdana,TimesNewRoman;
	font-size : 8pt;
	font-weight :normal;
}
/* ------------- web form style ------------------- */

.frmlabel {
	/*font-family: Arial, Verdana, Geneva,Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva,Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}
.frmbutton {
	/*font-family : Arial, Verdana,Tahoma, sans-serif;*/
	font-family : "Frutiger LT 45 Light", Arial, Verdana,Tahoma, sans-serif;
	color : #c5c1c1;
	font-size : 11px;
	height : 20px;
	vertical-align :top;
	text-align : center;
	font-weight : bold;
	background-color: #777575;
	border-color : #c5c1c1;
	letter-spacing : 1px;
}
.frmfield { 
	/*font-family : Arial, Tahoma, Verdana,sans-serif;*/
	font-family : "Frutiger LT 45 Light", Arial, Tahoma, Verdana,sans-serif;
	color : #5c5c5b; 
	font-size : 9pt; 
	height : 20px;
}
.frmtextarea { 
	/*font-family : Arial, Tahoma, Verdana,sans-serif;*/
	font-family : "Frutiger LT 45 Light", Arial, Tahoma, Verdana,sans-serif;
	color : #000000; 
	font-size : 8pt;
}
.frmindexFormElement { 
	/*font-family : Arial, Tahoma, Verdana,sans-serif;*/
	font-family : "Frutiger LT 45 Light", Arial, Tahoma, Verdana,sans-serif;
	font-size : 8pt; 
	color : #000000; 
	height : 17px;
	
}
A.footerinvi
{
	color:#999999;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 1pt;

}
A.footerinvi:hover
{
	color:#999999;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 1pt;

}
A.footerinvi:Active
{
	color:#999999;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 1pt;

}
A.footerinvi:visited
{
	color:#999999;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 1pt;

}
.footerinvi
{
	color:#999999;
	/*font-family : Arial,Verdana,TimesNewRoman;*/
	font-family : "Frutiger LT 45 Light", Arial,Verdana,TimesNewRoman;
	font-size : 1pt;

}
/*--------Menu Style---------------*/
.mnuActive1L
{
	background-attachment : fixed;
	background-image : url(../images/mnuActive1L.gif);
}
.mnuPending1L
{
	background-attachment : fixed;
	background-image : url(../images/mnuPending1L.gif);
}
/*----------Navigation Menu Fonts-----------------------*/
.menuL1 { 
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #666666; 
	text-decoration: none;  
	
}
A.menuL1 { 
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #666666; 
	text-decoration: none
}

A.menuL1:Visited  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #666666; 
	text-decoration: none
}

A.menuL1:Active  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #666666; 
	text-decoration: none
}

A.menuL1:Hover  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #000000; 
	text-decoration: none
}

.menuL1P { 
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #666666; 
	text-decoration: none
}
A.menuL1P { 
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #d4d4d4; 
	text-decoration: none
}

A.menuL1P:Visited  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #d4d4d4; 
	text-decoration: none
}

A.menuL1P:Active  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #d4d4d4; 
	text-decoration: none
}

A.menuL1P:Hover  {
	/*font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FFFFFF; 
	text-decoration: none
}

.MainFrame {
	padding: 5px 10px 5px 10px;
	border-color: #ffe4b5;
}

/* Scrolling Datagrid Begin */
/* Locks table header */
th 
{ 					
	/* border-right: 1px solid silver; */ 
	position:relative;
	cursor: default;	
	/*IE5+ only*/ 
	/*top: expression(this.parentElement.parentElement.parentElement.parentElement.scrollTop -2);*/
	/*z-index: 10;*/
}
/* Locks the left column */ 
td.locked, th.locked 
{ 					
	/* border-right: 1px solid silver; */ 
	position:relative; 
	cursor: default; 	
	/*IE5+ only*/	
	/*left: expression(this.parentElement.parentElement.parentElement.parentElement.scrollLeft-2);*/
} 

/* Keeps the header as the top most item. Important for top left item*/ 
/*th.locked {z-index: 99;}
th.locked
*/


/*Overriding Grid Styles*/
.Grid
{
	/*border:0;
	background-color: #f7faff;*/
        
    /*BORDER-RIGHT: black thin double;
    PADDING-RIGHT: 1pt;
    BORDER-TOP: black 1pt double;
    PADDING-LEFT: 1pt;
    FONT-WEIGHT: bolder;
    FONT-SIZE: xx-small;
    PADDING-BOTTOM: 1pt;
    BORDER-LEFT: black thin double;
    PADDING-TOP: 1pt;
    BORDER-BOTTOM: black thin double;
    FONT-FAMILY: Tahoma, Verdana, Arial;
    BACKGROUND-COLOR: #f7faff;
    border-color: Navy;
    Border-Style: solid;*/
    
}
table.RepeaterBorder 
{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;

}
table.RepeaterBorder td
{
	border-width: 0px 0px 0px 0px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;
	
}
table.RepeaterBorder th
{
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;
	
}
tr.mo
{
	text-decoration:none;
	COLOR: #006699;
	font-weight: normal;
	font: x-small Verdana;

}
tr.mo:hover
{
	text-decoration:none;
	COLOR: #006699;
	font-weight: normal;
	font: x-small Verdana;
	background-color:#E7E7FF;
}

	
.Grid td
{
    border-color: Black Black Black;
}

.GridHeader
{
	background-color:#5D7B9D; /*#f7faff; #547095*/
	color:White;
	font-weight:bold;
	font-family:Tahoma;
	text-align:center;	
	padding : 1px 0px 1px 0px;
	font-size:8pt;			
}

.GridFooter
{
	text-align:right;
	 
	/*Set the font color and size on the footer*/
	background-color: #CCCCCC;	
	/*font-family: Verdana,Arial, Geneva,  Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Verdana,Arial, Geneva,  Helvetica, sans-serif;
	font-size:x-small; 	
	font-weight: bold; 
	color:black; 
	text-decoration: none	
	/*By Alex on 2006-10-17 */
}

.GridTitle
{
	text-align:left;
	/*font-family: Verdana,Arial, Geneva,  Helvetica, sans-serif;*/
	font-family: "Frutiger LT 45 Light", Verdana,Arial, Geneva,  Helvetica, sans-serif;
	font-size:x-small; 	
	font-weight: bold; 
	background-color:#5D7B9D; /*#f7faff; #547095*/
	color:White;
	text-decoration: none;	
	border-right-width : 0;
	border-right-color :Blue;
}

.GridFooter A,.GridFooter A:link,.GridFooter A:visited
{
	text-align:right;
	 
	/*Set the font color and size on the footer*/
	background-color: #CCCCCC;	
	COLOR: #006699;
	font-weight: normal;
	font: x-small Verdana;	
}

/*.GridHeader TD A, .GridHeader TD A:link , .GridHeader TD A:visited, 
.GridHeader TH A, .GridHeader TH A:link , .GridHeader TH A:visited */
.GridHeader A, .GridHeader A:link , .GridHeader A:visited
{
	text-decoration:none;
	color:White;	
}


TR.GridNormal TH, TR.GridAlternate TH
{
	text-align:left;	
}


.GridNormal TD A, .GridNormal TD A:link, .GridNormal TD A:visited
,.GridAlternate TD A, .GridAlternate TD A:link, .GridAlternate TD A:visited
{
	text-decoration:none;
	COLOR: #006699;
	font-weight: normal;
	font: x-small Verdana;	
	
}

.GridNormal { background-color:#E7E7FF;  }
.GridAlternate{	background-color:#EFF8FC;  }
.GridLvl01 { background-color:#ABFFFF; }
.GridLvl02 { background-color:#FFAAFF; }
.GridLvl03 { background-color:#FFD4D4; }
.GridLvl04 { background-color:#FFD4AA; }
.GridLvl05 { background-color:#FFEAC5; }
.GridLvl06 { background-color:#FFFFD4; }

.GridNormal TD, .GridAlternate TD
,.GridLvl01 TD, .GridLvl02 TD, .GridLvl03 TD, .GridLvl04 TD, .GridLvl05 TD, .GridLvl06 TD
{	font-weight: normal;font: x-small Verdana; }

/**************style for abbreviation list*********************/
.GridRemarkHeader
{
    background-color: #DDDDDD; /*#f7faff; #547095*/
	color:black;
	font-weight:bold;
	/*font-family:Tahoma;*/
	font-family:"Frutiger LT 45 Light", Tahoma;
	text-align:center;	
	padding : 1px 0px 1px 0px;
	font-size:8pt;			
}

.GridRemark
{
	background-color:transparent; 
	COLOR: #000000;
	font-weight: normal;
	text-decoration:none;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;	
}
/****************************************************************/




.GridSelected
{
	background-color: #FFC082;
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;
}
.GridPager
{
	background-color : White;
	font-size : x-small;
}

.alwaysVisible
{
	/*z-index:10;any value*/
	/*overflow:visible;must have*/
	/*width:210;must have for any value*/
		background-color:#BBBBBB;
}

.alwaysVisible .bd{border:solid 1px #aaaaaa;padding:12px;}

/*.leftBorder
{
	border-color:White;
}

.rightBorder
{
	border-color:White;
}

.innerBorder
{
	border-color:White;
}*/
/* Scrolling Datagrid End*/

.cls_panel_calendar
{
	BACKGROUND-COLOR: #f0ffff;
	BORDER-STYLE :none;
	BORDER-WIDTH : thin;
	BORDER-RIGHT: #009999 1px solid;
	BORDER-TOP: #009999 1px solid;
    BORDER-BOTTOM: #009999 1px solid;
    BORDER-LEFT: #009999 1px solid;
}
.waitBoxStyle 
{
position:absolute;
top:0px; 
left:300px; 
font-family:Verdana;
display:block;
vertical-align:middle;

background-image:url(../images/loading.gif);

}
.div_normal{padding: 5px 2px 5px 3px; text-align:left; width:98%}

div.clr {
clear: both;
}

#loading-area {
	position: absolute;
	overflow: visible;
	z-index: 999999;
	background-color: white;
	padding: 5px 10px 5px 10px;
	top: 30%;
	left: 50%;
	margin-left: -88px;
	background-image: url('../images/bg_table_header.gif');
	width: 130px;
}
#loading-area p {
	font-weight: bold;
	font-size: small;
	/*font: italic small-caps bold small/normal Verdana;*/
	font: italic small-caps bold small/normal "Frutiger LT 45 Light", Verdana;
	padding: 5px 10px 5px 10px;
	margin: 0;
	color: #800000;
	/*font-family: Tahoma, Verdana, Arial;*/
	font-family: "Frutiger LT 45 Light", Tahoma, Verdana, Arial;
text-align:center;
vertical-align:baseline;
}
.modalBackground {	FILTER: alpha(opacity=30);	BACKGROUND-COLOR:gray; left:0px; top:0px;	opacity: 0.3; z-index:999998;}
.modalPopup {
	background-color:#ffffdd;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
#image-preloader {
	position: absolute;
	top: 111px;
	left: 111px;
	width: 300px;
	height: 300px;
}

.popupControl{
 position: relative;
 overflow:visible;
 z-index: 1000;
}


/*       TabContainer   */
.ajax__tab_portal .ajax__tab_header {
	/*font-family: verdana,tahoma,helvetica;*/
	font-family: "Frutiger LT 45 Light", verdana,tahoma,helvetica;
	font-size: 11px;
	background: url("../images/tab-line.gif") repeat-x bottom;
}
.ajax__tab_portal .ajax__tab_body {
	/*font-family: verdana,tahoma,helvetica;*/
	font-family: "Frutiger LT 45 Light", verdana,tahoma,helvetica;
	font-size: 10pt;
	border: 1px solid #448599;
	border-top: 0;
	padding: 8px;
	background-color: #EAEAF0;
}

.ajax__tab_portal .ajax__tab_PNL {
	/*font-family: verdana,tahoma,helvetica;*/
	font-family: "Frutiger LT 45 Light", verdana,tahoma,helvetica;
	font-size: 10pt;
	border: 1px solid #448599;
	border-top: 0;
	padding: 12px 10px 15px 10px;
	background-color: #EAEAF0;
}

.ajax__tab_portal .ajax__tab_tab {
	background: url("../images/tab.gif") repeat-x;
	height: 13px;
	padding: 4px;
	margin: 0;
}
.ajax__tab_portal .ajax__tab_inner {
	padding-left: 3px;
	background: url("../images/tab-left.gif") no-repeat;
}
.ajax__tab_portal .ajax__tab_outer {
	background: url("../images/tab-right.gif") no-repeat right;
	height: 21px;
}
.ajax__tab_portal .ajax__tab_hover .ajax__tab_tab {
	background: url("../images/tab-hover.gif") repeat-x;
}
.ajax__tab_portal .ajax__tab_hover .ajax__tab_inner {
	background: url("../images/tab-hover-left.gif") no-repeat;
}
.ajax__tab_portal .ajax__tab_hover .ajax__tab_outer {
	background: url("../images/tab-hover-right.gif") no-repeat right;
}
.ajax__tab_portal .ajax__tab_active .ajax__tab_tab {
	background: url("../images/tab-active.gif") repeat-x;
}
.ajax__tab_portal .ajax__tab_active .ajax__tab_inner {
	background: url('../images/tab-active-left.gif') no-repeat;
}
.ajax__tab_portal .ajax__tab_active .ajax__tab_outer {
	background: url("../images/tab-active-right.gif") no-repeat right;
}
/*
*/
.divheader{height:auto;line-height:80px;margin:0;}

.divwrapper1{width: 100%; float:left}
    
.divcol
{
	width:30%; float:left;padding: 10px 0px 5px 10px;
	border-width:.2em; border-style: solid; border-color: #FFFFFF; 
}
.divContent
{
	height:480px; 
	overflow:auto; 
	scrollbar-face-color: #c9d1f9;
	scrollbar-base-color: #c9d1f9;
	scrollbar-arrow-color: black;
	scrollbar-track-color: #F5F5F5;
	scrollbar-shadow-color: #EBF5FF;
	scrollbar-highlight-color: #F5F5F5;
	scrollbar-3dlight-color: #C3C3C3;
	scrollbar-darkshadow-Color: #9D9D9D;

}
    
.div#footer{clear:both;height:auto ;margin-top:auto; padding-left:10px;padding-right:10px;padding-top:10px;padding-bottom:10px}

.cls_form_table
{
	border:0 ;
	cellpadding:0 ;
	cellspacing:0 ;
	width:100%
}


	/* - -*/
.cls_DV_Header_MST {

	background-color:#5D7B9D; /*#f7faff; #547095*/
	color:White;
	font-weight:bold;
	/*font-family:Tahoma;*/
	font-family:"Frutiger LT 45 Light", Tahoma;
	text-align:left;	
	padding : 1px 0px 1px 0px;
	font-size:8pt;	
	
}
.cls_DV_Row_MST {
	background-color:#E7E7FF; /*#FFFFFF;*/
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;		
}
.cls_DV_Alt_Row_MST {
background-color: #EFF8FC; /*#EFF8FC;*/
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;
}
.cls_DV_Header_AMT {
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	COLOR: White;
	/*FONT-FAMILY:  Tahoma, sans-serif;*/
	FONT-FAMILY:  "Frutiger LT 45 Light", Tahoma, sans-serif;
	BACKGROUND-COLOR: #006699;
	padding-left:5px;
}
.cls_DV_Row_AMT {
	background-color:#E7E7FF; /*#FFFFFF;*/
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;	
}
.cls_DV_Alt_Row_AMT {
	background-color: #EFF8FC; /*#EFF8FC;*/
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;
}
/* - -*/
.cls_Detail_View
{
  BACKGROUND-COLOR: #dcdcdc;
}
/*HL:20071128: css for Detail view*/
.cls_DV_Header {
	FONT-WEIGHT: bold;
	FONT-SIZE: 8pt;
	COLOR: White;
	/*FONT-FAMILY:  Franklin Gothic Medium, Geneva, Helvetica, sans-serif;*/
	FONT-FAMILY:  "Frutiger LT 45 Light", Franklin Gothic Medium, Geneva, Helvetica, sans-serif;
	BACKGROUND-COLOR: #5D7B9D;
	padding-left:5px;
}
.cls_DV_Row {
	FONT-WEIGHT: normal;
	FONT-SIZE: 8pt;
	COLOR: Black;
	/*FONT-FAMILY:  Franklin Gothic Medium, Geneva, Helvetica, sans-serif;*/
	FONT-FAMILY:  "Frutiger LT 45 Light", Franklin Gothic Medium, Geneva, Helvetica, sans-serif;
	BACKGROUND-COLOR: #E7E7FF;
	padding-left:5px;
}
.cls_DV_Alt_Row {
	text-decoration:none;
	COLOR: #006699;
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;	
}
.cls_DV_Alt_Row TD, .cls_DV_Row TD,.cls_DV_Alt_Row_MST TD, .cls_DV_Row_MST TD
{
	padding-left:5px;
}
.cls_DV_Selected
{
	background-color: #FFC082;
	font-weight: normal;
	/*font: x-small Verdana;*/
	font: x-small "Frutiger LT 45 Light", Verdana;
}
.DataBody
{
    /*font-family: Franklin Gothic Medium,Franklin Gothic Medium,helvetica;*/
    font-family: "Frutiger LT 45 Light", Franklin Gothic Medium,Franklin Gothic Medium,helvetica;
	font-size: 10pt;
	border: 1px solid #448599;
	border-top: 1;
	padding: 8px;
	background-color: #EAEAF0;
}
.clsButton{ cursor:pointer;}

/*Calendar*/
.CalendarExtender .ajax__calendar_container {border:1px solid #646464; background-color: White;color: Black; z-index : 99999;visibility: visible; display: block; }
.CalendarExtender .ajax__calendar_body ,.CalendarExtender .ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years ,.CalendarExtender .ajax__calendar_container TABLE ,.CalendarExtender .ajax__calendar_header ,.CalendarExtender .ajax__calendar_prev ,.CalendarExtender .ajax__calendar_next ,.CalendarExtender .ajax__calendar_title ,
.CalendarExtender .ajax__calendar_footer ,.CalendarExtender .ajax__calendar_today ,.CalendarExtender .ajax__calendar_dayname ,.CalendarExtender .ajax__calendar_day ,.CalendarExtender .ajax__calendar_month ,.CalendarExtender .ajax__calendar_year ,
.CalendarExtender .ajax__calendar_container ,.CalendarExtender .ajax__calendar_footer ,.CalendarExtender .ajax__calendar_dayname ,.CalendarExtender .ajax__calendar_day ,.CalendarExtender .ajax__calendar_month ,.CalendarExtender .ajax__calendar_year ,
.CalendarExtender .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.CalendarExtender .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.CalendarExtender .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.CalendarExtender .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.CalendarExtender .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.CalendarExtender .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.CalendarExtender .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.CalendarExtender .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.CalendarExtender .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.CalendarExtender .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
/* End Calendar*/


.S_DivHeader
{
	font-family: "Frutiger LT 45 Light", Franklin Gothic Medium,Franklin Gothic Medium,helvetica;
	width: 99%;
	font-weight: bolder;
	text-align: left;
	padding: 5px;
	cursor: pointer;
	border: solid 1px black;
	font-size:  smaller;
	background-color: #5D7B9D;
	color: White;
}
.map_header_text
{
    font-weight:bold
    }
    
.cls_linkbutton {background-color:transparent ;  border-style: none; color:#6495ED ; cursor: pointer; font-size:11px; font-weight:normal; padding: 1px 1px 1px 1px; text-decoration:underline;}


 /*---------------------Div Drop Shadow ---------------------------------------------*/
.content, .shadow {position: relative;bottom: 4px; right: 4px;}
.shadow {background-color: black;}
.content {background-color: #fff;color: #000;border: 1px solid #000;padding: 0.5em;}
 /*---------------------Div Drop Shadow ---------------------------------------------*/