﻿BODY {
	margin-top: 0%;
	margin-bottom: 0%;
	margin-left: 0%;
	margin-right: 0%;
}
.BckgroundFront {
    background-image: url(../images/bcklogin.gif);
	background-repeat: repeat;
}
/*Toolbar Left */
/* Background Inside Image*/
/* Background Login Image*/
.BckgroundLoginFFMR1-1 {
	background-attachment : scroll;
	background-image : url(../images/FFMR1-1.gif);
	width: 467px;
	height: 210px;
}
.BckgroundLoginFFMR1-2 {
	background-attachment : scroll;
	background-image : url(../images/FFMR1-2.gif);
	width: 467px;
	height: 210px;
}
.BckgroundLoginFFMR2-1 {
	background-attachment : scroll;
	background-image : url(../images/FFMR2-1.gif);
	width: 467px;
	height: 229px;
}
.BckgroundLoginFFMR2-2 {
	background-attachment : scroll;
	background-image : url(../images/FFMR2-2.gif);
	width: 467px;
	height: 229px;
}
.BckgroundLoginFFMR3-1 {
	background-attachment : scroll;
	background-image : url(../images/FFMR3-1.gif);
	width: 467px;
	height: 209px;
}
.BckgroundLoginFFMR3-2 {
	background-attachment : scroll;
	background-image : url(../images/FFMR3-2.gif);
	width: 467px;
	height: 209px;
}
/* End BackgroundImage*/
/*----------Navigation Menu Fonts-----------------------*/
/* Start login page interface <DIV> */
.LoginAreaStyle {
	position: absolute;
	top: 430px;
	left: 650px;
	background-color: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	border: solid 1 #CACACA;
	display: inline-block;
	width: 250px;
	z-index: 99;
}
.LoginAreaHeader {
	position: absolute;
	top: 400px;
	left: 650px;
	background-color: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	border: solid 1 #9C9C9C;
	width: 250px;
}

.ChangePwdHeader  
{
    position: absolute;
	top: 400px;
	left: 650px;
	background-color: #ffffff;
	font-family: Arial;
	font-size: x-small;
	font-weight: bold;
	border: solid 1 #9C9C9C; 
	width: 300px; 
    height:150px;
}

.Diethlem_pos {
	position: absolute;
	top: 10px;
	background-color: #ffffff;
	left: 930px;
}
.lbl_Resolution {
	text-align: center;
	font-family: Arial;
	font-size: 7pt;
	font-weight: bold;
	/*position: relative;*/
	left: 300px;
	background-color: #ffffff;
	bottom: 0px;
}
.frmfield { 
	font-family : Arial, Tahoma, Verdana,sans-serif;
	color : #5c5c5b; 
	font-size : 9pt; 
	height : 20px;
}
.ContentLogin
{
	color:#6789A8;
	font-family : Arial,Verdana,TimesNewRoman;
	font-size : 8pt;
	font-weight : bold;
}
.frmbutton {
	font-family : Arial, Verdana,Tahoma, sans-serif;
	color : #6789A8;
	font-size : 11px;
	height : 20px;
	vertical-align :top;
	text-align : center;
	font-weight : bold;
	background-color: #EBECF0;
	border-color : #DEDBDB;
	letter-spacing : 1px;
}
.cls_label
{
    FONT-WEIGHT: normal;
    FONT-SIZE:x-small;
    COLOR: Black;   
    FONT-FAMILY: Tahoma, Verdana, Arial;
}

.cls_label_err
{
    FONT-WEIGHT: normal;
    FONT-SIZE:xx-small;
    COLOR: red;   
    FONT-FAMILY: Tahoma, Verdana, Arial;
}


/* end of login page interface <DIV> */
/*----------Navigation Menu Fonts-----------------------*/
.menuL1 { 
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #5E909F; 
	text-decoration: bold;  
	
}
A.menuL1 { 
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #5E909F; 
	text-decoration: bold;
}

A.menuL1:Visited  {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #448599; 
	text-decoration: none
}

A.menuL1:Active  {
	font-family: Arial,Verdana, Geneva,  Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #070000; 
	text-decoration: none
}

A.menuL1:Hover  {
	font-family:  Arial, Verdana, Geneva,Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #5E909F; 
	text-decoration: none
}

.menuL1P { 
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #5E909F; 
	text-decoration: none
}
A.menuL1P { 
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #5E909F; 
	text-decoration: none
}

A.menuL1P:Visited  {
	font-family: Arial, Verdana, Geneva, Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #848484; 
	text-decoration: none
}

A.menuL1P:Active  {
	font-family: Arial,Verdana, Geneva,  Helvetica, sans-serif;
	font-size: 8pt; 	
	font-weight: bold; 
	color: #858585; 
	text-decoration: none
}

A.menuL1P:Hover  {
	font-family:  Arial, Verdana, Geneva,Helvetica, sans-serif;
	font-size: 8pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #3789A2; 
	text-decoration: none
}
.Greeting
{
	color:#5D7B9D;
	font-family : Arial,Verdana,TimesNewRoman;
	font-size : 8pt;
	font-weight :normal;

}
/*--------Menu Style---------------*/
.mnuActive1L
{
	background-attachment : fixed;
	background-image : url(../images/mnuActive1L.gif);
}
.mnuPending1L
{
	background-attachment : fixed;
	background-image : url(../images/mnuPending1L.gif);
}
.BckgroundInsideContentLayout
{
    background-color:#666666;
}
.BckgroundmenuL2
{
    background-color:#E9EBED;
}
