<%@ Control Language="vb" AutoEventWireup="false" Inherits="Echoplus.wuc_lblHeader" CodeFile="wuc_lblHeader.ascx.vb" %>
<div class="bckgroundTitleBar"><asp:Label ID="lblTitle" CssClass="cls_title" runat="server"></asp:Label></div>

	   
