<%@ Control Language="VB" AutoEventWireup="false" CodeFile="wuc_lblInfo.ascx.vb" Inherits="WebUserControl_wuc_lblInfo" %>
<asp:UpdatePanel ID="updPnlInfo" runat="server" RenderMode="Inline" UpdateMode="Conditional">
    <ContentTemplate>
        <asp:Label ID="lblInfo" runat="server" CssClass="cls_label_err" />
    </ContentTemplate>
</asp:UpdatePanel>
