<%@ Page Language="vb" AutoEventWireup="false" Inherits="top" CodeFile="top.aspx.vb" %>

<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Top</title>
    <link href='/<%=ConfigurationManager.AppSettings("ServerName")%>/include/DKSHMenu.css' rel="stylesheet" />
    <%-- Sothink --%>

    <script type="text/javascript" language="JavaScript1.2" src="/<%=ConfigurationManager.AppSettings("ServerName")%>/include/menu/sothink/stmenu.js"></script>

    <script type="text/javascript">         
            //Get cookie routine by Siow Chie
            function get_cookie(Name) {
            var search = Name + "="
            var returnvalue = "";
            if (document.cookie.length > 0) {
            offset = document.cookie.indexOf(search)
            // if cookie exists
            if (offset != -1) { 
            offset += search.length
            // set index of beginning of value
            end = document.cookie.indexOf(";", offset);
            // set index of end of cookie value
            if (end == -1) end = document.cookie.length;
            returnvalue=unescape(document.cookie.substring(offset, end))
            }
            }
            return returnvalue;
            }             
          
            function ConfirmExit()
            {
            var agree=confirm('Are you sure you want to Logout?');
            if(agree){
            var frame = window.parent.frames['fraMain'];
                if (frame) {
                var iFrame = window.parent.frames['fraMain'].frames['DetailBarIframe'];
                    if (iFrame) {window.parent.frames['fraMain'].frames['DetailBarIframe'].document.body.onbeforeunload = null;}
                    }
            return true;}
            else{return false;}
            }
            
            function HideLogo()
            {
            var height = screen.height;
            if(height<700){
            var topbanner = document.getElementById('topbanner');
            topbanner.style.display='none';
            }
        }

        function Integration(strDestination) {
            if (strDestination == 'FFMR') {
                popup('../../../Admin/Integration/ffmr.aspx')
            }
            else {
                if (strDestination == 'FFMA') {
                    popup('../../../Admin/Integration/ffma.aspx')
                }
                else {
                    popup('../../../Admin/Integration/ffms.aspx')
                }

            }
        }

        function popup(url) {
            params = 'location=0,menubar=0,scrollbars=yes,resizable=yes,status=1,left=0,top=0,maximize=1,width=' + screen.width + ',height=' + screen.height;
            newwin = window.open(url, 'Echoplus', params);
            if (window.focus) { newwin.focus() }
            return false;
        }
    </script>
</head>
<body class="BckgroundInside" onresize="HideLogo();" onload="HideLogo();">
    <form id="frmTop" method="post" runat="server">
        <table cellspacing="0" cellpadding="0" width="100%" border="0">
            <tr>
                <td>
                    <table cellspacing="0" cellpadding="0" width="100%" border="0">
                        <tr valign="baseline">
                            
                            <td align="left" style="width:55%">
                                <font class="cls_label">
                                   
                                    &nbsp;
                                    <asp:Label runat="server" ID="lblUserName" />&nbsp; </font>
                            </td>
                            <td align="right" style="width: 45%"> &nbsp;<asp:Label class="cls_label" runat="server" ID="TheDateTime" />&nbsp;&nbsp;
                                <asp:LinkButton ID="lnkProfile" runat="server" CssClass="menuL1P">EDIT PROFILE&nbsp;<IMG src="../../../images/ico_editprofile.gif" border="0" align="absbottom">|</asp:LinkButton>
                                <asp:LinkButton ID="lnkLogout1" runat="server" CssClass="menuL1P" OnClientClick= "return ConfirmExit();"  >LOGOUT&nbsp;<img src="../../../images/logout.gif" border="0" align="absbottom"></asp:LinkButton></td>
                        </tr>
                    </table>
                    <div id="topbanner"><img src="../../../images/ffms_logo.gif"></div>
                </td>
            </tr>
            <!--<tr>
					<td valign="top">
						<table cellSpacing="0" cellPadding="0" width="100%" border="0">
							<tr>
								<td align="center">			
									<table cellSpacing="0" cellPadding="0" width="400" border="0">
										<tr align="center">										
											<td bgColor="#e0e0e0"></td>
											<td bgColor="#e8e8e8">i-FFMS</td>
											<td bgColor="#f0f0f0">Admin</td>
											<td bgColor="#f8f8f8">Logout</td>
										</tr>
									</table>
								</td>
							</tr>
							<tr>
								<td align="center">
									<table cellSpacing="0" cellPadding="0" width="100%" border="0">
										<tr>
											<td align="center"><asp:textbox id="txtMenuItems" runat="server" CssClass="cls_textbox" visible="false"></asp:textbox><asp:textbox id="txtMenuWidth" runat="server" CssClass="cls_textbox" visible="false"></asp:textbox>
												<%if txtMenuItems.Text <> "" Then%>
												<APPLET archive="apPopupMenu.jar" code="apPopupMenu" height="20" width="<%=txtMenuWidth.Text%>">
													<PARAM NAME="buttontype" VALUE="1">
													<PARAM NAME="fontcolor" VALUE="ffffff">
													<PARAM NAME="fonthighcolor" VALUE="000000">
													<PARAM NAME="aligntext" VALUE="left">
													<PARAM NAME="solidarrows" VALUE="false">
													<PARAM NAME="clicksound" VALUE="pix/kap2.au">
													<PARAM NAME="backcolor" VALUE="0066cc">
													<PARAM NAME="statusstring" VALUE="Navigate my site using this menu!">
													<PARAM NAME="backhighcolor" VALUE="FFCC00">
													<PARAM NAME="oversound" VALUE="pix/bell.au">
													<PARAM NAME="ishorizontal" VALUE="true">
													<PARAM NAME="systemsubfont" VALUE="false">
													<PARAM NAME="javascript:1" VALUE="window.open('iFFMR/Admin/QueryDate.aspx','QueryDate','menubar=No,scrollbars=yes,width=350,height=180')">
													<PARAM NAME="copyright" VALUE="Apycom Software - www.apycom.com">
													<PARAM NAME="status" VALUE="link">
													<PARAM NAME="menuitems" VALUE="<%=txtMenuItems.Text%>">
													<PARAM NAME="font" VALUE="TimesRoman,12,1">
												</APPLET>
												<%End If%>
											</td>
										</tr>
									</table>
								</td>
							</tr>
				</table>
					</td>
				</tr> -->
            <tr align="left">
                <td valign="top">
                    <table cellspacing="0" cellpadding="0" align="left" width="100%" border="0">
                        <tr>
                            <td class="BckgroundmenuL2" valign="baseline" align="left" style="width: 100%">
                                <table cellspacing="0" cellpadding="0" border="0" align="left" width="100%">
                                    <tr>
                                        <td class="mnuActive1L" width="97" align="center" style="height: 22px" id="mnu1FFMRL"
                                            runat="server">
                                            <asp:LinkButton ID="lnkFFMR" runat="server" CssClass="menuL1">REPORTS</asp:LinkButton>
                                        </td>
                                        <td class="mnuPending1L" width="96" align="center" style="height: 22px" id="mnu1FFMSL"
                                            runat="server">
                                            <asp:LinkButton ID="lnkFFMS" runat="server" CssClass="menuL1P">OnDemand</asp:LinkButton>
                                        </td>
                                        <td class="mnuPending1L" width="96" align="center" style="height: 22px" id="mnu1FFMAL"
                                            runat="server">
                                            <asp:LinkButton ID="lnkFFMA" runat="server" CssClass="menuL1P">MASTER</asp:LinkButton>
                                        </td>
                                        <td class="mnuPending1L" width="96" align="center" style="height: 22px" id="mnu1ADMINL"
                                            runat="server">
                                            <asp:LinkButton ID="lnkAdmin" runat="server" CssClass="menuL1P">ADMIN</asp:LinkButton>
                                        </td>
                                       <%-- <td class="mnuPending1L" width="96" align="center" style="height: 22px" id="mnu1EPOndemand"
                                            runat="server">
                                            <asp:LinkButton ID="lnkEPOndemand" runat="server" CssClass="menuL1P" OnClientClick="Integration('FFMS');">EPOndemand</asp:LinkButton>
                                        </td>--%>
                                        <td colspan="4" style="height: 22px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top">
                                <table cellspacing="0" cellpadding="0" border="0" align="left">
                                    <tr>
                                        <td class="BckgroundmenuL2" width="100%">
                                            <%--<script type="text/javascript" language="JavaScript1.2" src="<%=ConfigurationManager.AppSettings("ServerName")%>/include/menu/sothink/smenu.js"></script>--%>
                                            <%--<%=txtMenuItems.Text%>--%>
                                            <script type='text/javascript'>
                                                path = '../../../../../../Echoplus/';
                                                if (get_cookie('mainmenu') != '') {
                                                    if (get_cookie('mainmenu') == 'FFMR') {
                                                        stm_bm(['menu37fe', 700, '', path + 'include/menu/sothink/blank.gif', 0, '', '', 0, 0, 19, 100, 500, 1, 0, 0, '', '', 83886139, 0, 1, 1, 'hand', 'hand', ''], this);
                                                        stm_bp('p0', [0, 4, 0, 0, 1, 3, 0, 7, 100, '', -2, '', -2, 52, 0, 0, '#999999', 'transparent', '', 1, 0, 0, '#b8cddb']);
                                                        stm_ai('p0i0', [0, 'INVENTORY FORECASTING', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                        stm_bp('p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']);
                                                        stm_aix('p1i0', 'p0i0', [0, 'Inventory Forecasting Analysis', '', '', -1, -1, 0, path + 'iFFMR/DRC/DRCList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']);
                                                        stm_aix('p1i1', 'p1i0', [0, 'Inventory Forecasting Enquiry', '', '', -1, -1, 0, path + 'iFFMR/DRC/DRCEnquiryList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']);
                                                        stm_ep();
                                                        //stm_aix('p0i1', 'p0i0', [0, 'SALES', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p2', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']);
                                                        //stm_aix('p2i0', 'p0i1', [0, 'Sales Analysis', '', '', -1, -1, 0, path + 'iFFMR/Sales/SalesList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p2i1', 'p0i1', [0, 'Key Product Sales', '', '', -1, -1, 0, path + 'iFFMR/Sales/SalesInfoByKeyPrd.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p2i2', 'p0i1', [0, 'Top 80% Customer Sales', '', '', -1, -1, 0, path + 'iFFMR/Sales/SalesTop80CustByRep.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p2i4', 'p0i1', [0, 'Sales Enquiry', '', '', -1, -1, 0, path + 'iFFMR/Sales/SalesEnquiryList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i2', 'p0i0', [0, 'FIELD FORCE EFFECTIVENESS', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p3', 'p1', [1, 4, 0, 0, 2, 3, 5, 7]); stm_aix('p3i0', 'p0i2', [0, 'Call Analysis', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p4', 'p3', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p4i0', 'p3i0', [0, 'Monthly Call Analysis', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallAnalysis/CallAnalysisListByMonth.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p4i1', 'p3i0', [0, 'Daily Call Analysis', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallAnalysis/CallAnalysisListByDay.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p4i2', 'p3i0', [0, 'Strike Call Analysis', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallAnalysis/CallAnalysisListByStrike.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p3i1', 'p0i2', [0, 'Call Coverage', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p5', 'p3', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p5i0', 'p3i1', [0, 'Actual Call Coverage', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallCoverage/CallAnalysisListByContact.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i1', 'p3i1', [0, 'Effective Call Coverage', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallCoverage/CallCoverage1.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i3', 'p3i1', [0, 'Hit Call Coverage', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallCoverage/CallCoverage2.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p3i2', 'p0i2', [0, 'Field Force Activity', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p6', 'p3', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p6i0', 'p3i2', [0, 'Monthly Field Force Activity', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallProd/CallProdList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p6i1', 'p3i2', [0, 'Field Force Activity By Class', '', '', -1, -1, 0, path + 'iFFMR/SFE/SFMSPRFM/SFMSPerformance.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p6i2', 'p3i2', [0, 'Activity List', '', '', -1, -1, 0, path + 'iFFMR/SFE/SFMSActy/SFMSActyList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p3i3', 'p0i2', [0, 'Preplan Call', '', '', -1, -1, 0, path + 'iFFMR/SFE/Preplan/PreplanList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i4', 'p0i2', [0, 'Call Enquiry', '', '', -1, -1, 0, path + 'iFFMR/SFE/CallAnalysis/CallEnquiryList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i2', 'p0i2', [0, 'Detailing', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p6', 'p3', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p6i0', 'p3i2', [0, 'Coverage by Specialty by Product', '', '', -1, -1, 0, path + 'iFFMR/Detailing/SpecialtyCoverageByProd.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p6i1', 'p3i2', [0, 'Call by Area by Product', '', '', -1, -1, 0, path + 'iFFMR/Detailing/CallByAreaByProduct.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_ep(); stm_aix('p0i3', 'p0i0', [0, 'KEY PERFORMANCE INDEX', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p7', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p7i0', 'p0i3', [0, 'Monthly KPI', '', '', -1, -1, 0, path + 'iFFMR/KPI/MthOverview.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i1', 'p0i3', [0, 'Customer KPI', '', '', -1, -1, 0, path + 'iFFMR/KPI/CustStatusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i2', 'p0i3', [0, 'Field Force KPI', '', '', -1, -1, 0, path + 'iFFMR/KPI/ActSalesBySalesrep.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i3', 'p0i3', [0, 'Relative KPI', '', '', -1, -1, 0, path + 'iFFMR/KPI/RelPerformance.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i5', 'p0i3', [0, 'SFE KPI', '', '', -1, -1, 0, path + 'iFFMR/KPI/SFEKPIList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i4', 'p0i0', [0, 'COMMUNICATION', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p8', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p8i0', p0i4, [0, 'Refresh & Upload', '', '', -1, -1, 0, path + 'iFFMR/Comm/CommList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p8i1', p0i4, [0, 'Transaction Upload', '', '', -1, -1, 0, path + 'iFFMR/Comm/CommUploadInfo.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p8i2', p0i4, [0, 'Audit Log', '', '', -1, -1, 0, path + 'iFFMR/Comm/AuditLog.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i8', 'p0i0', [0, 'DATA FILE', '', '', -1, -1, 0, path + 'iFFMR/DataFiles/DataFilesList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, 'newline.gif', '', 3, 0, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana']); stm_aix('p0i9', 'p0i0', [0, 'DATA FILE LIST', '', '', -1, -1, 0, path + 'iFFMR/DataFiles/DataFileList_V2.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, 'newline.gif', '', 3, 0, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana']); stm_ep(); stm_cf([0, 0, 0, 'fraMain', 'fraTop', 1]); stm_em();
                                                        stm_em();






                                                    }

                                                    //if (get_cookie('mainmenu') == 'FFMA') {
                                                    //    alert('yo1');
                                                    //    stm_bm(['menu37fe', 700, '', path + 'include/menu/sothink/blank.gif', 0, '', '', 0, 0, 19, 100, 500, 1, 0, 0, '', '', 83886139, 0, 1, 1, 'hand', 'hand', ''], this);
                                                    //    stm_bp('p0', [0, 4, 0, 0, 1, 3, 0, 7, 100, '', -2, '', -2, 52, 0, 0, '#999999', 'transparent', '', 1, 0, 0, '#b8cddb']);
                                                    //    stm_ai('p0i0', [0, 'GENERAL', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_bp('p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']);
                                                    //    stm_aix('p1i0', 'p0i0', [0, 'Company', '', '', -1, -1, 0, path + 'iFFMA/General/CompanyList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']);
                                                    //    stm_aix('p1i1', 'p0i0', [0, 'Sales Area', '', '', -1, -1, 0, path + 'iFFMA/General/SalesAreaList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']);
                                                    //    stm_aix('p1i2', 'p0i0', [0, 'Warehouse', '', '', -1, -1, 0, path + 'iFFMA/General/WarehouseList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p1i3', 'p0i0', [0, 'Region', '', '', -1, -1, 0, path + 'iFFMA/General/RegionList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i1', 'p0i0', [0, 'SALESTEAM', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p2', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p2i0', 'p0i1', [0, 'SalesTeam Info', '', '', -1, -1, 0, path + 'iFFMA/Salesteam/SalesteamList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i2', 'p0i0', [0, 'SALES ACCOUNT', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p3', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p3i0', 'p0i2', [0, 'Customer Info', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i1', 'p0i2', [0, 'Shipto Info', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/ShipToList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i2', 'p0i2', [0, 'Other Customer Info', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerInfoList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i3', 'p0i2', [0, 'Class Info', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerClassList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i4', 'p0i2', [0, 'Sales Target By Customer', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerSalesTgtList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i5', 'p0i2', [0, 'Customer Profile Maintenance', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustProfileMaintenance.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i5', 'p0i2', [0, 'Customer Target Product', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerTgtPrdList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p3i5', 'p0i2', [0, 'Customer Team Class', '', '', -1, -1, 0, path + 'iFFMA/SalesAccount/CustomerTeamClassList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i3', 'p0i0', [0, 'CONTACT', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p4', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p4i0', 'p0i3', [0, 'Contact Info', '', '', -1, -1, 0, path + 'iFFMA/Contact/ContactList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p4i1', 'p0i3', [0, 'Mss Contact Update', '', '', -1, -1, 0, path + 'iFFMA/HCD/MssCont.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p4i1', 'p0i3', [0, 'Mss Contact Details', '', '', -1, -1, 0, path + 'iFFMA/HCD/MssContDtl.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i4', 'p0i0', [0, 'PRODUCT', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p5', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p5i0', 'p0i4', [0, 'Product Info', '', '', -1, -1, 0, path + 'iFFMA/Product/ProductList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i1', 'p0i4', [0, 'Product Group Info', '', '', -1, -1, 0, path + 'iFFMA/Product/ProductGroupList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i2', 'p0i4', [0, 'Supplier Info', '', '', -1, -1, 0, path + 'iFFMA/Product/SupplierList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i3', 'p0i4', [0, 'Stock Allocation', '', '', -1, -1, 0, path + 'iFFMA/Product/StockAllocList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i4', 'p0i4', [0, 'Product Matrix', '', '', -1, -1, 0, path + 'iFFMA/Product/ProductMatrixList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p5i4', 'p0i4', [0, 'Product Sequence', '', '', -1, -1, 0, path + 'iFFMA/Others/PrdSeqList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i5', 'p0i0', [0, 'TRADE DEAL', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p6', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p6i0', 'p0i5', [0, 'Price', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p7', 'p6', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p7i0', 'p6i0', [0, 'Standard', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Discount/StandardPriceList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i1', 'p6i0', [0, 'Customer Special', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Discount/SpecialPriceList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i2', 'p6i0', [0, 'Customer Group', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Discount/CustGrpPriceList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p7i3', 'p6i0', [0, 'Price Group', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Discount/PriceGrpPriceList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p6i1', 'p0i5', [0, 'Bonus', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p8', 'p6', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p8i0', 'p6i1', [0, 'Standard', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Bonus/StandardBonusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p8i1', 'p6i1', [0, 'Customer Special', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Bonus/SpecialBonusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p8i2', 'p6i1', [0, 'Customer Group', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Bonus/CustGrpBonusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p8i3', 'p6i1', [0, 'Price Group', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/Bonus/PriceGrpBonusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p6i2', 'p0i5', [0, 'Assortment (Package)', '', '', -1, -1, 0, path + 'iFFMA/TradeDeal/PackageList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i6', 'p0i0', [0, 'FIELD FORCE ACTIVITY', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p9', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p9i0', 'p0i6', [0, 'Field Activity', '', '', -1, -1, 0, path + 'iFFMA/FieldForceActy/FieldActyCatList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p9i1', 'p0i6', [0, 'Market Survey', '', '', -1, -1, 0, path + 'iFFMA/FieldForceActy/MSSAdvList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p9i2', 'p0i6', [0, 'Market Survey 2', '', '', -1, -1, 0, path + 'iFFMA/FieldForceActy/MSSAdv2/MSSAdv2List.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p9i3', 'p0i6', [0, 'Market Survey Team Mapping', '', '', -1, -1, 0, path + 'iFFMA/FieldForceActy/MSSTeamMap.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p9i4', 'p0i6', [0, 'Detailing', '', '', -1, -1, 0, path + 'iFFMA/Detailing/DetailingCatList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i7', 'p0i0', [0, 'FIELD FORCE', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p10', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p10i0', 'p0i7', [0, 'Field Force Info', '', '', -1, -1, 0, path + 'iFFMA/FieldForce/FieldForceList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p10i1', 'p0i7', [0, 'Sales Target', '', '', -1, -1, 0, path + 'iFFMA/FieldForce/SalesTgtList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i8', 'p0i0', [0, 'OTHERS', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p11', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p11i0', 'p0i8', [0, 'Reason Code', '', '', -1, -1, 0, path + 'iFFMA/Others/ReasonList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p11i1', 'p0i8', [0, 'Route', '', '', -1, -1, 0, path + 'iFFMA/Others/RouteList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p11i2', 'p0i8', [0, 'Price Group', '', '', -1, -1, 0, path + 'iFFMA/Others/PriceGroupList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p11i4', 'p0i8', [0, 'Promotion Sales Order', '', '', -1, -1, 0, path + 'iFFMA/Others/PromotionList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i9', 'p0i0', [0, 'UTILITY', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p12', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p12i0', 'p0i9', [0, 'Messaging', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, path + 'include/menu/sothink/arrow_r.gif', path + 'include/menu/sothink/arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', path + 'include/menu/sothink/newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p13', 'p12', [1, 2, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p13i0', 'p12i0', [0, 'Inbox', '', '', -1, -1, 0, path + 'iFFMA/Utility/Messaging/InboxMsgList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p13i1', 'p12i0', [0, 'Outbox', '', '', -1, -1, 0, path + 'iFFMA/Utility/Messaging/OutboxMsgList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p12i1', 'p0i9', [0, 'Upload Itinerary', '', '', -1, -1, 0, path + 'iFFMA/Utility/Upload/Itinerary.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p12i2', 'p0i9', [0, 'EasyLoader', '', '', -1, -1, 0, path + 'iFFMA/Utility/EasyLoader/EasyLoader.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p12i3', 'p0i9', [0, 'EasyLoaderV2', '', '', -1, -1, 0, path + 'iFFMA/Utility/EasyLoader/EasyLoaderV2.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i10', 'p0i0', [0, 'MAPPING', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p14', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p14i0', 'p0i10', [0, 'Field Force Customer', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForceCustList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i1', 'p0i10', [0, 'Field Force Route', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForceRouteList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i2', 'p0i10', [0, 'Field Force Product Group', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForcePrdGrpList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i3', 'p0i10', [0, 'Field Force Activity', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForceActyList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i4', 'p0i10', [0, 'Field Force Market Survey', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForceMSSList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i5', 'p0i10', [0, 'Field Force Package', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForcePackageList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i6', 'p0i10', [0, 'Field Force Itinerary Transfer', '', '', -1, -1, 0, path + 'iFFMA/Mapping/FieldForceItineraryTransfer.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i7', 'p0i10', [0, 'Technician Sales Group', '', '', -1, -1, 0, path + 'iFFMA/Mapping/TechnicianSalesGrpList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i8', 'p0i10', [0, 'Technician Functional Location', '', '', -1, -1, 0, path + 'iFFMA/Mapping/TechnicianFuncLocList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p14i9', 'p0i10', [0, 'Technician Sales Office', '', '', -1, -1, 0, path + 'iFFMA/Mapping/TechnicianSalesOffList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i11', 'p0i0', [0, 'SERVICES', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p15', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p15i0', 'p0i11', [0, 'Confirm Stock List', '', '', -1, -1, 0, path + 'iFFMA/Services/StockTransferList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p15i1', 'p0i11', [0, 'New Equipment List', '', '', -1, -1, 0, path + 'iFFMA/Services/NewEqpList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p15i2', 'p0i11', [0, 'Apply Stock List', '', '', -1, -1, 0, path + 'iFFMA/Services/ApplyStockList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p15i4', 'p0i11', [0, 'Equipment History List', '', '', -1, -1, 0, path + 'iFFMA/Services/EqpHistList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_aix('p0i12', 'p0i0', [0, 'GCIM', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 10, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 0, 1, '', 1, '#E1ECF6', 0, 'newline.gif', 'newline.gif', 3, 3, 1, 1, '#0099cc', '#0066CC', '#777777', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]); stm_bpx('p16', 'p1', [1, 4, 0, 0, 2, 3, 5, 0, 100, 'stEffect(\'slip\')', -2, 'stEffect(\'slip\')', -2, 80, 0, 0, '#999999', '#FFFFFF', path + 'include/menu/sothink/bg_02.gif', 3, 0, 0, '#d0d0d0 #d0d0d0 #d0d0d0 #d0d0d0']); stm_aix('p16i0', 'p0i12', [0, 'Stock Adjustment List', '', '', -1, -1, 0, path + 'iFFMA/GCIM/StockAdjustList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p16i1', 'p0i12', [0, 'Stock History List', '', '', -1, -1, 0, path + 'iFFMA/GCIM/StockHistList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_aix('p16i2', 'p0i12', [0, 'Stock Status List', '', '', -1, -1, 0, path + 'iFFMA/GCIM/StockStatusList.aspx', 'fraMain', '', '', '', '', 5, 0, 0, '', '', 0, 0, 0, 0, 1, '#FAFFFF', 1, '#E1ECF6', 0, path + 'include/menu/sothink/newline.gif', '']); stm_ep(); stm_cf([0, 0, 0, 'fraMain', 'fraTop', 1]); stm_em();
                                                    //} if (get_cookie('mainmenu') == 'ADMIN') {
                                                    //    alert('yo2');
                                                    //    stm_bm(['menu1d89', 700, '', path + 'include/menu/sothink/blank.gif', 0, '', '', 0, 0, 250, 0, 1000, 1, 0, 0, '', '', 0, 0, 1, 2, 'default', 'hand', ''], this);
                                                    //    stm_bp('p0', [0, 4, 0, 0, 2, 3, 0, 7, 100, '', -2, '', -2, 50, 0, 0, '#999999', '#FFFFF7', '', 3, 0, 0, '#000000']);
                                                    //    stm_ai('p0i0', [0, 'ADMIN', '', '', -1, -1, 0, '', '', '', '', '', '', 0, 0, 0, 'arrow_r.gif', 'arrow_r.gif', 7, 7, 0, 1, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_bpx('p1', 'p0', [1, 4, 0, 0, 2, 3, 0, 0]); stm_ai('p1i0', [0, 'Access Right', '', '', -1, -1, 0, path + 'Admin/AccessRight/AccessRightList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ai('p1i1', [0, 'Connection', '', '', -1, -1, 0, path + 'Admin/ConnectionString/ConnectionStringList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ai('p1i2', [0, 'SAP', '', '', -1, -1, 0, path + 'iFFMA/SAP/SAPList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ai('p1i7', [0, 'User', '', '', -1, -1, 0, path + 'Admin/User/UserList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ai('p1i9', [0, 'User Mobile', '', '', -1, -1, 0, path + 'Admin/UserMobile/UserMobileList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ai('p1i10', [0, 'Easy Loader V2 Accessright', '', '', -1, -1, 0, path + 'Admin/ELAccessright/ELAccessRightList.aspx', 'fraMain', '', '', '', '', 0, 0, 0, '', '', 0, 0, 0, 0, 1, '#FFFFF7', 0, '#EDF2FF', 0, 'newline.gif', '', 3, 3, 1, 1, '#B1BEF2', '#ffffff', '#848484', '#448599', 'bold 8pt Arial,Verdana', 'bold 8pt Arial,Verdana', 0, 0]);
                                                    //    stm_ep();
                                                    //    stm_ep();
                                                    //    stm_cf([0, 0, 0, 'fraMain', 'fraTop', 1]);
                                                    //    stm_em();
                                                    //}
                                                }</script>
                                        </td>
                                        <td style="width: 1px">
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
         </table> 
    </form>
</body>
</html>
