<%@ Page Language="VB" AutoEventWireup="false" CodeFile="TxnDefault.aspx.vb" Inherits="iFFMS_Customer_CustTxn_TxnDefault" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Transaction Default</title>
    <link rel="stylesheet" href='~/include/DKSH.css' />
     <script language="javascript" type="text/javascript" src="../../../include/layout.js"></script>
     
</head>
<body onload="HideElement('SubDetailConfBar');ShowElement('SubDetailBar'); MaximiseFrameHeight('SubDetailBarIframe')" style="background-color: #DDDDDD;">
    <form id="form1" runat="server">
    <div  class="S_DivHeader">
        Kindly select from the menu above
    </div>
    </form>
</body>

</html>
