﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="SuperAdmin.aspx.vb" Inherits="Admin_Root_SuperAdmin" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Echoplus Super Admin</title>
<script language="javascript" type="text/javascript">	
function MaximimizeWindow() {window.focus;
if (document.all && (window.screenTop!=0 && window.screenLeft!=0) || window.screenTop!=0 ){if (window.moveTo) window.moveTo(-5,-5);if (window.outerWidth) {window.outerWidth = screen.availWidth+10;window.outerHeight = screen.availHeight+10;}else if (window.resizeTo) {window.resizeTo(screen.availWidth+10,screen.availHeight+10);}}}
</script>
</head>


<frameset id="fraDefault" rows="50,*" cols="*" frameborder="NO" border="1" style="border-color: #A31515;"
    framespacing="0" onload="javascript:MaximimizeWindow();">
    <frame name="fraTop" scrolling="NO" noresize src="Top.aspx">
    <FRAMESET cols="150, *" id="fraCon">
        <FRAME name="fraLeft" scrolling="NO" noresize src="Left.aspx" id="fraLeft">
        <FRAME name="fraMain" src="Home.aspx" >
    </FRAMESET>
</frameset>
</html>
