﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="Top.aspx.vb" Inherits="Admin_Root_Top" StylesheetTheme="Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>Top</title>
</head>
<body >
    <form id="form1" runat="server">
    <div>
        <asp:Label ID="lblHeader" runat="server" Text="Welcome to Super Admin Panel" SkinID=label_top></asp:Label>   
    
        
       
    </div>
    </form>
</body>
</html>
